{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Sign up for event - La Danse Macabre{% endblock %}

{% block body %}

    <h2>Sign up for {{ event.name }} on {{ event.startTime|date("d/m") }}</h2>

    {{ form(form) }}

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('viewEventIndex', {'id': event.id}) }}">Event</a></li>
        <li><a href="{{ path('viewEventsIndex') }}">Events</a></li>
    </ul>

{% endblock %}