{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Events - La Danse Macabre{% endblock %}

{% block body %}

    <h2>Overview of events</h2>

    <ul>
        <li><b>Guest</b>. A guest can see this page but the actions 'Sign Up' and 'Cancel sign up' are not available.</li>
        <li><b>Member</b>. Any member can see this page and perform any actions. The action 'Edit event' or 'Delete event' is only available if the visitor is the organiser of that event.</li>
    </ul>

    <ul>
        {% for item in events %}
                <li><a href="{{ path('viewEventIndex', {'id': item.id}) }}">{{ item.name }}</a></li>
        {% endfor %}
    </ul>

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('_welcome') }}">Home</a></li>
        <li><a href="{{ path('createSignUpIndex') }}">Sign up</a></li>
        <li><a href="{{ path('viewSignUpsIndex') }}">Cancel Sign Up</a></li>
        <li><a href="{{ path('createEventIndex') }}">Create event</a></li>
    </ul>

{% endblock %}