{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Events - La Danse Macabre{% endblock %}

{% block body %}

    <h2>Overview of events (guest)</h2>

    <ul>
        <table cellpadding=5 border=1>
        {% for event in events %}
            <tr>
                <td><a href="{{ path('viewEventIndex', {'id': event.id}) }}">{{ event.name }}</a></td>
                <td>{{ event.inviteTime|date("d/m") }} at {{ event.inviteTime|date("H:i") }}</td>
                <td>
                    {% if event.signUps.signUpCount == 0 %}
                        there are no sign ups yet.
                    {% elseif event.signUps.signUpCount == 1 %}
                        1 person signed up.
                    {% else %}
                        {{ event.signUps.signUpCount }} persons signed.
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
    </ul>

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        {% if auth.currentContext.authenticated %}
        <li><a href="{{ path('createEventIndex') }}">Create event</a></li>
        {% endif %}
    </ul>

{% endblock %}