{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}Event - La Danse Macabre{% endblock %}

{% block body %}

    <h1>{{ event.name }}</h1>

    <p>{{ event.description }}</p>

    <table cellpadding="5">
        <tr>
            <td class="center-td">Organiser</td>
            <td class="center-td">Date</td>
            <td class="center-td">Invite Time</td>
            <td class="center-td">Start Time</td>
            <td class="center-td">End Time</td>
            <td class="center-td">Sign Ups</td>
            <td class="center-td">Absences</td>
        </tr>
        <tr>
            <td class="center-td">{{ event.organiser.id }}</td>
            <td class="center-td">{{ event.inviteTime|date("d/m (D)") }}</td>
            <td class="center-td">{{ event.inviteTime|date("H:i") }}</td>
            <td class="center-td">{{ event.startTime|date("H:i") }}</td>
            <td class="center-td">{{ event.endTime|date("H:i") }}</td>
            <td class="center-td">
                {% if event.signUps.signUpCount != 0 %}
                    {{ event.signUps.signUpCount }}
                {% endif %}
            </td>
            <td class="center-td">
                {% if event.signUps.absentCount != 0 %}
                    {{ event.signUps.absentCount }}
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>Sign Ups <small>({{ event.signUps.willComeCount }})</small></h3>

    {% if event.signUps.willComeCount != 0 %}
        <table border=0 cellpadding=3>
            <tr>
                <td>Name</td>
                <td class="center-td">Tank</td>
                <td class="center-td">Healer</td>
                <td class="center-td">Damage</td>
                <td><!-- remove --></td>
            </tr>
            {% for signUp in event.signUps.willComeSignUps %}
                <tr>
                    <td>{{ signUp.account.id }}</td>
                    <td class="center-td">
                        {% if signUp.signedAsTank %}X{% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsHealer %}X{% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsDamage %}X{% endif %}
                    </td>
                    <td>
                        {% if signUp.currentUser %}
                            <a href="{{ path('removeSignUpIndex', {'id': event.id}) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}    
        <p>There are no sign ups</p>
    {% endif %}

    <h3>Queued Sign Ups <small>({{ event.signUps.mightComeCount }})</small></h3>

    {% if event.signUps.mightComeCount != 0 %}
        <table border=0 cellpadding=3>
            <tr>
                <td>Name</td>
                <td class="center-td">Tank</td>
                <td class="center-td">Healer</td>
                <td class="center-td">Damage</td>
                <td><!-- remove --></td>
            </tr>
            {% for signUp in event.signUps.mightComeSignUps %}
                <tr>
                    <td>{{ signUp.account.id }}</td>
                    <td class="center-td">
                        {% if signUp.signedAsTank %}X{% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsHealer %}X{% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsDamage %}X{% endif %}
                    </td>
                    <td>
                        {% if signUp.currentUser %}
                            <a href="{{ path('removeSignUpIndex', {'id': event.id}) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% else %}    
        <p>There are no queued sign ups</p>
    {% endif %}

    <h3>Absent <small>({{ event.signUps.absentCount }})</small></h3>

    {% if event.signUps.absentCount != 0 %}
        The following persons informed us of their absence: 
        {% for signUp in event.signUps.absentSignUps %}
            {{ signUp.account.id }} 
        {% endfor %}
        </ul>
    {% else %}    
        <p>There are no absences</p>
    {% endif %}

    <h2>Actions</h2>

    <ul>
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>        
        {% if auth.currentContext.authenticated %}
            {% if not event.signUps.currentUserSignedUp %}
                <li><a href="{{ path('createSignUpIndex', {'id': event.id}) }}">Sign up</a></li>
                <li><a href="{{ path('createAbsenceIndex', {'id': event.id}) }}">Inform absence</a></li>
            {% endif %}
            {% if event.isOrganiser %}
                <li><a href="{{ path('editEventIndex', {'id': event.id}) }}">Edit event</a></li>
                <li><a href="{{ path('deleteEventIndex', {'id': event.id}) }}">Delete event</a></li>
            {% endif %}
        {% endif %}
    </ul>

{% endblock %}