{% extends 'LaDanseSiteBundle:layout:bare.html.twig' %}

{% block title %}La Danse Macabre{% endblock %}

{% block body %}

	<style>

		a div.tile:hover
		{
			background-color: rgba(75, 75, 75, .95);
			outline: #999999 solid 3px;
		}

		.tile
		{
            height: 100%;
			background-color: rgba(75, 75, 75, .8);
			
			position: relative;
			float: left;
			margin-left: 15px;
			margin-top: 15px;
		}

		.tile.default
		{
			width: 150px;
			height: 150px;
		}

		.tile.double
		{
			width: 300px;
			height: 150px;
		}

		.tile.triple
		{
			width: 380px;
			height: 150px;
		}

		.tile-content
		{
			width: 100%;
            height: 100%;
			padding: 10px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            overflow: hidden;
		}

        .tile.high
        {
            width: 150px;
            height: 300px;
        }

        .jumbotron
        {
            background-color: rgba(0, 0, 0, 0);
            border: none;
        }

        .center-block
        {
            margin: auto;
            text-align: center;
        }

        .tile-content .image
        {
            padding-top: 20px;
            text-align: center;
        }

        .tile .label
        {
            position: absolute;
            left: 0px;
            bottom: 5px;
            font-size: 1em;
            font-weight: 300;
        }

        .tile .tile-content.label
        {
            position: absolute;
            left: 0px;
            bottom: -5px;
            font-size: 1em;
            font-weight: 300;
        }

        .tile p
        {
            font-weight: 300;
        }

        .jumbo
        {
            padding: 30px;
            padding-left: 0px;
            margin-top: 10px;
            margin-bottom: 20px;
            color: inherit;
        }

        .jumbo h1,
        .jumbo .h1
        {
            font-size: 63px;
        }

        .jumbo p
        {
            margin-bottom: 15px;
            font-size: 21px;
            font-weight: 100;
        }

        .tile-content-wrapper
        {
            position: absolute;
            height: 100%;
            width: 100%;
            display: none;
        }

        .ts-top-label
        {
            width: 100%;
            position: absolute;
            padding: 15px;
            padding-top: 20px;
        }

        .tile .tile-content-wrapper:nth-of-type(1)
        {
            display: block; 
        }

        .tile .tile-content:nth-of-type(1)
        {
            display: block; 
        }

	</style>
    
    <div class="jumbo">
      <div style="width: 100%;">
        <h1>La Danse Macabre</h1>
        <p>Welcome to the website of La Danse Macabre, a gaming guild of fun people of all ages and interests. Join us in World of Warcraft, Star Wars The Old Republic or Wildstar.</p>
      </div> <!-- container -->
    </div> <!-- jumbotron -->

	<div class="container-fluid" style="padding: 0px;">
		<div class="row">
            
            <a href="{{ path('calendarIndex') }}">
            	<div id="tile" class="tile double">
            		{{ render(controller('LaDanseSiteBundle:Calendar/Calendar:tilePartial')) }}
                    <div class="label"><i class="fa fa-calendar fa-2x"></i></div>
                </div>
            </a>

            <a href="{{ path('galleryUnderConstruction') }}">
            	<div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                          <i class="fa fa-picture-o fa-5x"></i>  
                        </div>
                    </div>
                    <div class="label"><span>Pictures</span></div>
                </div>
            </a>

            <a href="{{ path('teamSpeakUnderConstruction') }}">
                <div id="teamspeakTile" class="tile default" data-delay="2000" data-direction="horizontal">
                    <div class="label"><i class="fa fa-headphones fa-2x"></i></div>
                </div>
            </a>

            {% if auth.currentContext.authenticated %}
                <a href="{{ path('fos_user_profile_show') }}">
                    <div class="tile default">
                        <div class="tile-content">
                            <div class="image">
                              <i class="fa fa-user fa-5x"></i>  
                            </div>
                        </div>
                        <div class="label"><span>My Account</span></div>
                    </div>
                </a>
            {% else %}
                 <a href="{{ path('fos_user_security_login') }}">
                    <div class="tile default">
                        <div class="tile-content">
                            <div class="image">
                              <i class="fa fa-sign-in fa-5x"></i>  
                            </div>
                        </div>
                        <div class="label"><span>Log In</span></div>
                    </div>
                </a>
            {% endif %}

            
        </div> <!-- row -->

        <div class="row">
            
            <a href="{{ path('claimsUnderConstruction') }}">
            	<div class="tile default" data-direction="vertical" data-delay="8000">
            		<div class="tile-content">
                        <div class="image">
                          <i class="fa fa-users fa-5x"></i>  
                        </div>
                    </div>
                    <div class="label"><span>My Characters</span></div>
                </div>    
            </a>  

            <a href="{{ path('forumUnderConstruction') }}">
                <div class="tile double" data-direction="vertical" data-delay="8000">
            		<div class="tile-content">  
                        <div style="padding: 15px;">
                            <p style="font-size: 1.3em;">Coming Soon</p>
                            <p>latest forum posts and hot topics</p>
                        </div>     
                	</div>
                    <div class="tile-content">  
                        <div style="padding: 15px;">
                            <p style="font-size: 1.8em;">Stay tuned!</p>
                        </div>     
                    </div>
                    <div class="label"><i class="fa fa-comments fa-2x"></i></div>
                </div>   
            </a>

            <a href="{{ path('helpIndex') }}">
                <div class="tile default">
                    <div class="tile-content">
                        <div class="image">
                          <i class="fa fa-info-circle fa-5x"></i>  
                        </div>       
                    </div>
                    <div class="label"><span>Help</span></div>
                </div>
            </a>
            
        </div> <!-- row -->

	</div> <!-- container -->

{% endblock %}
