{% extends 'LaDanseSiteBundle:Layout:layout.html.twig' %}

{% block title %}La Danse - Index{% endblock %}

{% block body %}

    <h1>Events</h1>

    {{ render(controller('LaDanseSiteBundle:ListEventsPartial:list')) }}

    <h2>Other actions on this page</h2>
    
    <ul>
        {% if auth.currentContext.authenticated %}
            <li><a href="{{ path('mySettingsIndex') }}">My settings</a></li> 
            <li><a href="{{ path('createEventIndex') }}">Create event</a></li>    
        {% endif %}
    </ul>

    {% if app.environment == 'dev' %}
        <p>Development only:</p>
        <ul>
            <li><a href="{{ path('loginuser', {'id': 1}) }}">Log in as 1</a></li>
            <li><a href="{{ path('loginuser', {'id': 2}) }}">Log in as 2</a></li>
            <li><a href="{{ path('logoutuser') }}">Log out</a></li>
        </ul>
    {% endif %} 

{% endblock %}
