{% extends 'LaDanseSiteBundle:layout:base.html.twig' %}

{% block title %}La Danse Macabre{% endblock %}

{% block body %}

    <div style="width: 100%; max-width: 980px; margin: auto; position: relative; margin-top: 100px;">

        <div class="container-fluid">

            <div class="row">

                <div class="col-md-4" style="text-align: center;">

                    <img src="{{ asset('bundles/ladansesite/images/GuildLogo.png') }}"
                         style="width: 90%; max-width: 300px; padding-top: 10px; margin: auto;"/>

                </div>

                <div class="col-md-8">

                    <div class="jumbo">
                        <div style="width: 100%;">
                            <h1>La Danse Macabre</h1>

                            <br/>

                            <p>Welcome to the website of La Danse Macabre, a gaming guild of fun people of all ages and
                                interests. Join us in World of Warcraft, Star Wars The Old Republic or Wildstar.</p>

                            <p>LDM is a 'friends and family guild'. We always aim to have fun. While we raid and do some
                                PvP, this is not meant as serious or hardcore, but casual and fun. While we can aim to
                                progress in raids and push rating in arena, the aim is to keep it fun.</p>

                            <br/>

                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-4" style="text-align: center;">
                                        <p><a class="btn btn-info" href="{{ path('aboutIndex') }}">More information</a></p>
                                    </div>
                                    <div class="col-md-4" style="text-align: center;">
                                        {% if auth.currentContext.authenticated %}
                                            <p><a class="btn btn-success" href="{{ path('menuIndex') }}">Member Section</a></p>
                                        {% else %}
                                            <p><a class="btn btn-success" href="{{ path('fos_user_security_login') }}">Login or Register</a></p>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4" style="text-align: center;">
                                        {% image '@LaDanseSiteBundle/Resources/public/images/FB_FindUsOnFacebook-100.png' %}
                                        <p><a href="https://www.facebook.com/groups/23877201619/"><img src="{{ asset_url }}" /></a></p>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}
