{% if auth.currentContext.authenticated %}
    <p>Can't find the raid you were looking for? <a href="{{ path('createEvent') }}">Why not create a raid yourself!</a></p>
{% endif %}

<p><a href="{{ path('eventList') }}">Click here if you prefer a list view.</a></p>

<table class="table table-striped" style="table-layout: fixed; text-overflow: ellipsis;">
<thead>
    <tr>
        <th>monday</th>            
        <th>tuesday</th>
        <th>wednesday</th>
        <th>thursday</th>
        <th>friday</th>
        <th>saturday</th>
        <th>sunday</th>
    </tr>
</thead>
<tbody>
    {% for calendarDay in calendarDays %}
        {% if loop.index0%7 == 0 %}<tr>{% endif %}
        <td class="calendar-cell {% if calendarDay.date|date('Y-m-d') == "today"|date('Y-m-d') %}today-calendar-cell{% endif %}">
            <div class="calendar-cell-container">
                {% if calendarDay.showMonth %}
                    <p>{{ calendarDay.date|date('M d') }}</p>
                {% else %}
                    <p>{{ calendarDay.date|date('d') }}</p>
                {% endif %}
                {% for event in calendarDay.events %}
                    <div class="event-container"><small>
                        {% if event.signUps.currentUserComes %}
                        <i class="fa fa-check fa-1x text-success"></i>
                    {% elseif event.signUps.currentUserAbsent %}
                        <i class="fa fa-ban fa-1x text-danger"></i>
                    {% else %}
                        <i class="fa fa-question fa-1x text-muted"></i>
                    {% endif %}
                    {% if event.inThePast %}
                        {{ event.inviteTime|date("H:i") }} {{ event.name }} ({{ event.signUps.willComeCount }})
                    {% else %}
                        {{ event.inviteTime|date("H:i") }} <a href="{{ path('viewEvent', {'id': event.id}) }}">{{ event.name }}</a> ({{ event.signUps.willComeCount }}/{{ event.signUps.mightComeCount }})
                    </small></div>
                    {% endif %}
                {% endfor %}
                {% if calendarDay.date|date('Y-m-d') >= "today"|date('Y-m-d') %}
                    <div class="hover-me-container">
                        <div class="hover-me">
                            <small>
                            <a href="{{ path('createEvent', 
                                             {'onDate': calendarDay.date|date('Ymd')}) }}" >add a raid</a>
                            </small>
                        </div>
                    </div>
                {% endif %}
            </div>
        </td>
        {% if loop.index0%7 == 6 %}</tr>{% endif %}
    {% endfor %}
</tbody>
</table>