{% if auth.currentContext.authenticated %}
    <p>Can't find the event you were looking for? <a href="{{ path('createEvent') }}">Why not create an event yourself?</a></p>
{% endif %}

<ul class="pager">
    {% if pager.previousPage is defined %}
        <li class="previous"><a href="{{ path('calendarIndex', {'page': pager.previousPage }) }}"><i class="fa fa-arrow-left fa-1x"></i> older</a></li>
    {% else %}
        <li class="previous disabled"><a href="#"><i class="fa fa-arrow-left fa-1x"></i> older</a></li>
    {% endif %}

    <li><a href="{{ path('calendarIndex', {'page': 0 }) }}">today</a></li>

    {% if pager.nextPage is defined %}
        <li class="next"><a href="{{ path('calendarIndex', {'page': pager.nextPage }) }}">newer <i class="fa fa-arrow-right fa-1x"></i></a></li>
    {% else %}
        <li class="next disabled"><a href="#">newer <i class="fa fa-arrow-right fa-1x"></i></a></li>
    {% endif %}
</ul>

<div>
    <span class="event-container event-signed">you are signed</span>
    <span class="event-container event-absent">you signed absent</span>
    <span class="event-container event-notSigned">you haven't signed yet</span>
</div>

<br/>

<table class="table table-bordered" style="table-layout: fixed; text-overflow: ellipsis;">
<thead>
    <tr>
        <th>monday</th>            
        <th>tuesday</th>
        <th>wednesday</th>
        <th>thursday</th>
        <th>friday</th>
        <th>saturday</th>
        <th>sunday</th>
    </tr>
</thead>
<tbody>
    {% for calendarDay in calendarDays %}
        {% if loop.index0%7 == 0 %}<tr>{% endif %}
        <td class="calendar-cell {% if calendarDay.date|date('Y-m-d') == "today"|date('Y-m-d') %}today-calendar-cell{% endif %}">
            <div class="calendar-cell-container">
                {% if calendarDay.showMonth %}
                    <p>{{ calendarDay.date|date('M d') }}</p>
                {% else %}
                    <p>{{ calendarDay.date|date('d') }}</p>
                {% endif %}
                {% if calendarDay.date|date('Y-m-d') >= "today"|date('Y-m-d') %}
                    <div class="hover-me-container">
                        <div class="hover-me">
                            <small>
                            <a href="{{ path('createEvent', 
                                             {'onDate': calendarDay.date|date('Ymd')}) }}" >add an event</a>
                            </small>
                        </div>
                    </div>
                {% endif %}
                {% for event in calendarDay.events %}
                    <a class="event-container-link" href="{{ path('viewEvent', {'id': event.id}) }}">
                        <div class="event-container event-signed
                            {% if event.signUps.currentUserComes %}
                                event-signed
                            {% elseif event.signUps.currentUserAbsent %}
                                event-absent
                            {% else %}
                                event-notSigned
                            {% endif %}
                            ">
                            <small>
                                {{ event.inviteTime|date("H:i") }} {{ event.name }}
                            </small>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </td>
        {% if loop.index0%7 == 6 %}</tr>{% endif %}
    {% endfor %}
</tbody>
</table>