{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Who Is Who - La Danse Macabre{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Who Is Who') }}

    {% for claim in claims %}
    <a href="{{ path('viewMember', {'accountId': claim.id} ) }}"
       class="characterAndClaimsWell">
        <div class="well well-sm characterAndClaimsWell">
            <p class="accountDisplayName">{{ claim.displayName }}</p>
            <p class="claimsList">
                Characters claimed: 
                {% for character in claim.claims %}
                <span>{{ character }}</span>
                {% endfor %}
            </p>
        </div>
    </a>
    {% endfor %}

{% endblock %}