{% extends 'LaDanseServicesBundle:notifications:layout.html.twig' %}

{% block stylesheet %}

<style>

    p.event-label
    {
        font-weight: bold;
    }

</style>

{% endblock %}

{% block notificationMessage %}

    <p style="font-size: 2em; font-weight: bold">Confirmed!</p>

    <p>The organiser of the event '{{ data.activityData.newEvent.name }}' you signed up for, confirmed the event!</p>

    <div class="PostContent">

        <table cellspacing="10" >
            <tr>
                <td align="center">
                    <p class="event-label">When</p>
                    <p>{{ data.activityData.newEvent.inviteTime|date("d/m (D)", "Europe/Paris") }}</p>
                </td>
                <td align="center">
                    <p class="event-label">Invite Time</p>
                    <p>{{ data.activityData.newEvent.inviteTime|date("H:i", "Europe/Paris") }}</p>
                </td>
                <td align="center">
                    <p class="event-label">Start Time</p>
                    <p>{{ data.activityData.newEvent.startTime|date("H:i", "Europe/Paris") }}</p>
                </td>
                <td align="center">
                    <p class="event-label">End Time</p>
                    <p>{{ data.activityData.newEvent.endTime|date("H:i", "Europe/Paris") }}</p>
                </td>
            </tr>
        </table>

        <br/>

        {% if data.activityData.newEvent.description is defined %}
            <div>
                {{ data.activityData.newEvent.description }}
            </div>
        {% endif %}

        <br/>
        <div style="color: bold; font-weight: bold;">
            Make sure to properly prepare yourself. Read up on tactics and bring flasks, pots and runes with you!
        </div>

    </div>

{% endblock %}

{% block notificationActions %}

    <a href="{{ url('eventsIndex') }}#/events/event/{{ data.activityData.newEvent.id }}">
        <div class="button btn-lightGreen">
            manage my signup
        </div>
    </a>

{% endblock %}