{% extends 'LaDanseServicesBundle:notifications:layout.html.twig' %}

{% block stylesheet %}

<style>

    p.event-label
    {
        font-weight: bold;
    }

</style>

{% endblock %}

{% block notificationMessage %}

    <p style="font-size: 2em; font-weight: bold">Confirmed!</p>

    <p>The organiser of the event '{{ data.activityData.event.name }}' you signed up for, confirmed the event!</p>

    <div class="PostContent">

        <table cellspacing="10" >
            <tr>
                <td align="center">
                    <p class="event-label">When</p>
                    <p>{{ data.activityData.event.inviteTime|date("d/m (D)") }}</p>
                </td>
                <td align="center">
                    <p class="event-label">Invite Time</p>
                    <p>{{ data.activityData.event.inviteTime|date("H:i") }}</p>
                </td>
                <td align="center">
                    <p class="event-label">Start Time</p>
                    <p>{{ data.activityData.event.startTime|date("H:i") }}</p>
                </td>
                <td align="center">
                    <p class="event-label">End Time</p>
                    <p>{{ data.activityData.event.endTime|date("H:i") }}</p>
                </td>
            </tr>
        </table>

        <br/>
        <div>
            {{ data.activityData.event.description }}
        </div>

        <br/>
        <div style="color: bold; font-weight: bold;">
            Make sure to properly prepare yourself. Read up on tactics and bring flasks, pots and runes with you!
        </div>

    </div>

{% endblock %}

{% block notificationActions %}

    <a href="{{ url('viewEvent', {'id': data.activityData.event.eventId} ) }}">
        <div class="button btn-lightGreen">
            manage my signup
        </div>
    </a>

{% endblock %}