{ data.account.displayName }} created a sign up for '{{ data.activityData.newEvent.name }}' on {{ data.activityData.newEvent.inviteTime|date("d/m (D)") }}
{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("h:i") }}

Type:

{% if data.activityData.postSignUp.signUpType == "WillCome" %}
    <p>Will come</p>
{% endif %}
{% if data.activityData.postSignUp.signUpType == "MightCome" %}
    <p>Might come</p>
{% endif %}
{% if data.activityData.postSignUp.signUpType == "Absence" %}
    <p>Absence</p>
{% endif %}

Roles:

{% for role in data.activityData.signUpType.roles %}
    {{ role }}
{% endfor %}

{{ url('eventsIndex') }}#/events/event/{{ data.activityData.newEvent.id }}



You received this email because of your current notifications settings. You can view or change your
notification settings at the following URL:

{{ url('editNotifications') }}