{ data.account.displayName }} update the sign up for '{{ data.activityData.newEvent.name }}' on {{ data.activityData.newEvent.inviteTime|date("d/m (D)") }}
{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("h:i") }}

BEFORE

Type:

{% if data.activityData.oldSignUp.type == "WillCome" %}
    <p>Will come</p>
{% endif %}
{% if data.activityData.oldSignUp.type == "MightCome" %}
    <p>Might come</p>
{% endif %}
{% if data.activityData.oldSignUp.type == "Absence" %}
    <p>Absence</p>
{% endif %}

Roles:

{% for role in data.activityData.oldSignUp.roles %}
    {{ role }}
{% endfor %}

AFTER

Type:

{% if data.activityData.putSignUp.signUpType == "WillCome" %}
    <p>Will come</p>
{% endif %}
{% if data.activityData.putSignUp.signUpType == "MightCome" %}
    <p>Might come</p>
{% endif %}
{% if data.activityData.putSignUp.signUpType == "Absence" %}
    <p>Absence</p>
{% endif %}

Roles:

{% for role in data.activityData.putSignUp.roles %}
    {{ role }}
{% endfor %}

{{ url('eventsIndex') }}#/events/event/{{ data.activityData.newEvent.id }}



You received this email because of your current notifications settings. You can view or change your
notification settings at the following URL:

{{ url('editNotifications') }}