{ data.account.displayName }} removed sign up for '{{ data.activityData.newEvent.name }}' on {{ data.activityData.newEvent.inviteTime|date("d/m (D)") }}
{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("h:i") }}

Type:

{% if data.activityData.deletedSignUp.type == "WillCome" %}
    <p>Will come</p>
{% endif %}
{% if data.activityData.deletedSignUp.type == "MightCome" %}
    <p>Might come</p>
{% endif %}
{% if data.activityData.deletedSignUp.type == "Absence" %}
    <p>Absence</p>
{% endif %}

Roles:

{% for role in data.activityData.deletedSignUp.roles %}
    {{ role }}
{% endfor %}

{{ url('viewEvent', {'id': data.activityData.newEvent.id} ) }}



You received this email because of your current notifications settings. You can view or change your
notification settings at the following URL:

{{ url('editNotifications') }}