{% extends 'LaDanseServicesBundle:notifications:layout.html.twig' %}

{% block stylesheet %}

<style>

    p.event-label
    {
        font-weight: bold;
    }

</style>

{% endblock %}

{% block notificationMessage %}

    <b>{{ data.account.displayName }}</b> updated sign up for '{{ data.activityData.newEvent.name }}' on {{ data.activityData.newEvent.inviteTime|date("d/m (D)") }}
    <br/>
    <span class="activityHour">{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("H:i") }}</span>

    <div class="PostContent">

        <table cellspacing="10" >
            <tr>
                <td colspan="4">
                    <p class="event-label">Before</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p class="event-label">Type</p>
                    {% if data.activityData.oldSignUp.type == "WillCome" %}
                        <p>Will come</p>
                    {% endif %}
                    {% if data.activityData.oldSignUp.type == "MightCome" %}
                        <p>Might come</p>
                    {% endif %}
                    {% if data.activityData.oldSignUp.type == "Absence" %}
                        <p>Absence</p>
                    {% endif %}
                </td>
                <td align="center">
                    <p class="event-label">Tank</p>
                    <p>&nbsp;
                    {% for role in data.activityData.oldSignUp.roles %}
                        {% if role == "Tank" %}
                            X
                        {% endif %}
                    {% endfor %}
                    </p>
                </td>
                <td align="center">
                    <p class="event-label">Healer</p>
                    <p>&nbsp;
                    {% for role in data.activityData.oldSignUp.roles %}
                        {% if role == "Healer" %}
                            X
                        {% endif %}
                    {% endfor %}
                    </p>
                </td>
                <td align="center">
                    <p class="event-label">Damage</p>
                    <p>&nbsp;
                    {% for role in data.activityData.oldSignUp.roles %}
                        {% if role == "DPS" %}
                            X
                        {% endif %}
                    {% endfor %}
                    </p>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <p class="event-label">After</p>
                </td>
            </tr>
            <tr>
                <td align="center">
                    <p class="event-label">Type</p>
                    {% if data.activityData.putSignUp.signUpType == "WillCome" %}
                        <p>Will come</p>
                    {% endif %}
                    {% if data.activityData.putSignUp.signUpType == "MightCome" %}
                        <p>Might come</p>
                    {% endif %}
                    {% if data.activityData.putSignUp.signUpType == "Absence" %}
                        <p>Absence</p>
                    {% endif %}
                </td>
                <td align="center">
                    <p class="event-label">Tank</p>
                    <p>&nbsp;
                        {% for role in data.activityData.putSignUp.roles %}
                            {% if role == "Tank" %}
                                X
                            {% endif %}
                        {% endfor %}
                    </p>
                </td>
                <td align="center">
                    <p class="event-label">Healer</p>
                    <p>&nbsp;
                        {% for role in data.activityData.putSignUp.roles %}
                            {% if role == "Healer" %}
                                X
                            {% endif %}
                        {% endfor %}
                    </p>
                </td>
                <td align="center">
                    <p class="event-label">Damage</p>
                    <p>&nbsp;
                        {% for role in data.activityData.putSignUp.roles %}
                            {% if role == "DPS" %}
                                X
                            {% endif %}
                        {% endfor %}
                    </p>
                </td>
            </tr>
        </table>

    </div>

{% endblock %}

{% block notificationActions %}

    <a href="{{ url('eventsIndex') }}#/events/event/{{ data.activityData.newEvent.id }}">
        <div class="button btn-lightGreen">
            view event
        </div>
    </a>

{% endblock %}