{% extends 'LaDanseServicesBundle:notifications:layout.html.twig' %}

{% block notificationMessage %}

    <b>{{ data.account.displayName }}</b> performed an activity
    <br/>
    <span class="activityHour">{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("H:i") }}</span>

    <div class="PostContent">

        <code>{{ notificationItem | json_encode() }}</code>

        <code>{{ data | json_encode() }}</code>

    </div>

{% endblock %}

{% block notificationActions %}

    <a href="{{ url('menuIndex') }}">
        <div class="button btn-lightGreen">
            view site
        </div>
    </a>

{% endblock %}