{% extends 'LaDanseServicesBundle:notifications:layout.html.twig' %}

{% block notificationMessage %}

    <b>{{ data.account.displayName }}</b> posted a new topic in '{{ data.activityData.forumName }}'
    <br/>
    <span class="activityHour">{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("H:i") }}</span>

    <div class="PostContent">

        <b>{{ data.activityData.topicSubject }}</b>
        <br/>
        <div>
            {{ data.activityData.message | raw }}
        </div>

    </div>

{% endblock %}

{% block notificationActions %}

    <a href="{{ url('forumIndex') }}#/forums/{{ data.activityData.forumId }}/topics/{{ data.activityData.topicId }}">
        <div class="button btn-lightGreen">
            view topic
        </div>
    </a>

{% endblock %}