{% extends 'LaDanseServicesBundle:notifications:layout.html.twig' %}

{% block notificationMessage %}

    <b>{{ data.account.displayName }}</b> replied to '{{ data.activityData.topicSubject }}'
    <br/>
    <span class="activityHour">{{ notificationItem.activityOn|date("j F") }} at {{ notificationItem.activityOn|date("H:i") }}</span>

    <div class="PostContent">

        <div>
            {{ data.activityData.message | raw }}
        </div>

    </div>

{% endblock %}

{% block notificationActions %}

    <a href="{{ url('forumIndex') }}#/{{ data.activityData.forumId }}/topics/{{ data.activityData.topicId }}">
        <div class="button btn-lightGreen">
            view post
        </div>
    </a>

{% endblock %}