<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %}La Danse - Welcome{% endblock %}</title>

    {# all CSS must be in the header to speed up rendering #}

    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/eggplant/jquery-ui.css"
          rel="stylesheet">

    {% stylesheets filter='cssrewrite'
        "bundles/ladansesite/components/textAngular/dist/textAngular.css"
        "bundles/ladansesite/components/font-awesome/css/font-awesome.min.css"
        "bundles/ladansesite/components/qtip2/jquery.qtip.min.css"
        "bundles/ladanseangular/components/ng-dialog/css/ngDialog.min.css"
        "bundles/ladanseangular/components/ng-dialog/css/ngDialog-theme-default.css"
        "bundles/ladanseangular/components/angular-ui-select/dist/select.min.css"
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <!-- CSS -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/alertify.min.css"/>
    <!-- Bootstrap theme -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/alertifyjs/1.8.0/css/themes/bootstrap.min.css"/>

    {% stylesheets filter='cssrewrite'
        'bundles/ladansebootstrap/less/themes/default/custom-bootstrap.less'
        'bundles/ladansesite/css/*'
        'bundles/ladansesite/less/ladanse.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

    <style>

        body
        {
            background-image: url('{{ asset('bundles/ladansesite/images/wallpaper-illidan-85.jpg') }}');
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }

    </style>

    {% block stylesheet %}{% endblock %}

    {% javascripts
    "bundles/ladansesite/components/angular/angular.min.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

</head>

<body class="">

    <div id="NewVersionReminderContainer">
        <span>there is a new version of the site</span>
        <br/>
        <div class="button"><button id="NewVersionReloadButton"
                                    type="button"
                                    class="btn btn-success">RELOAD</button></div>
    </div>

    <div id="DeploymentTypeContainer">
        <span class="inner-text" id="DeploymentDescrption">Placeholder for deployment description</span>
    </div>

    <div id="body-wrapper">

        <div id="content-wrapper">

            <div id="content-inner-wrapper">

                {% block body %}{% endblock %}

            </div>

        </div>

    </div>

    <div id="footer-wrapper">

        <div id="footer-inner-wrapper">

            Copyright Bavo De Ridder 2014-2016. <a class="no-underline" href="{{ path('privacyPolicyIndex') }}">Site &amp; Privacy Policy</a>

        </div>

    </div>

    {% if auth.currentContext.authenticated %}
        <script type="text/javascript">
            "use strict";

            var currentAccount = {
                id: {{ auth.currentContext.account.id }},
                username: '{{ auth.currentContext.account.username }}',
                displayName: '{{ auth.currentContext.account.displayName }}'
            };
        </script>
    {% endif %}


{# all Javascript is moved to the rear of the document to speed up rendering #}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>

    <script type="application/javascript">

        var BASEPATH = "";
        var BUNDLE_BASEPATH = "/bundles";

    </script>

    {% javascripts
        "bundles/ladanseangular/components/base64/base64.min.js"
        "bundles/ladansesite/components/jquery/dist/jquery.min.js"
        "bundles/ladansesite/components/jquery-ui/jquery-ui.js"
        "bundles/ladansesite/components/qtip2/jquery.qtip.min.js"
        "bundles/ladansesite/components/moment/min/moment.min.js"
        "bundles/ladansesite/components/moment/locale/en-gb.js"
        "bundles/ladansesite/components/angular-animate/angular-animate.min.js"
        "bundles/ladansesite/components/angular-route/angular-route.min.js"
        "bundles/ladansesite/components/angular-resource/angular-resource.min.js"
        "bundles/ladansesite/components/angular-sanitize/angular-sanitize.min.js"
        "bundles/ladansesite/components/angular-moment/angular-moment.min.js"
        "bundles/ladansesite/components/angular-inview/angular-inview.js"
        "bundles/ladansesite/components/rangy/rangy-core.min.js"
        "bundles/ladansesite/components/rangy/rangy-selectionsaverestore.min.js"
        "bundles/ladansesite/components/textAngular/dist/textAngular.js"
        "bundles/ladansesite/components/textAngular/dist/textAngular-sanitize.js"
        "bundles/ladansesite/components/textAngular/dist/textAngularSetup.js"
        "bundles/ladansesite/components/angular-ui-router/release/angular-ui-router.js"
        "bundles/ladansesite/components/angular-elastic/elastic.js"
        "bundles/ladanseangular/components/ng-dialog/js/ngDialog.min.js"
        "bundles/ladanseangular/components/angular-ui-select/dist/select.min.js"
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <!-- JavaScript -->
    <script src="//cdn.jsdelivr.net/alertifyjs/1.8.0/alertify.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

    <!--CDN link for the latest TweenMax-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>

    <script type="text/javascript">

        var deploymentType = "{{ deployment_type }}";
        var deploymentName = "{{ deployment_name }}";
        var deploymentVersion = "{{ deployment_version }}";

        $( document ).ready(function()
        {
            if (deploymentType != "prod")
            {
                $("#DeploymentDescrption").text(deploymentName);
                $("#DeploymentTypeContainer").show();
            }
        });
    </script>

{% javascripts
    '@LaDanseBootstrapBundle/Resources/public/js/*'
    '@LaDanseSiteBundle/Resources/public/js/*'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{{ renderToasts() }}

<script type="text/javascript">
    $( document ).ready(function()
    {
        $("[data-toggle='tooltip']").tooltip(
                {
                    'container':'body'
                }
        );
    });
</script>

<script type="text/javascript">
    alertify.defaults.transition = "zoom";

    alertify.defaults.theme.ok = "btn btn-primary";
    alertify.defaults.theme.cancel = "btn btn-danger";
    alertify.defaults.theme.input = "form-control";

    alertify.defaults.notifier.position = "top-right";
</script>

<!--Start Cookie Script-->
<script type="text/javascript" charset="UTF-8" src="//cookie-script.com/s/87fe37ecdff92dbc44e2940b6ab78b73.js"></script>
<!--End Cookie Script-->

{% block javascript %}{% endblock %}

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-586496-3', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>