<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}La Danse - Welcome{% endblock %}</title>

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/eggplant/jquery-ui.css"
            rel="stylesheet">

        {% stylesheets filter='cssrewrite'
            'bundles/ladansebootstrap/less/themes/spacelab/custom-bootstrap.less'
            'bundles/coderspottingtoastmessage/css/*'
            'bundles/ladansesite/css/*'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        {% javascripts '@CoderSpottingToastMessageBundle/Resources/public/js/*'
                       '@LaDanseBootstrapBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

        {{ renderToasts() }}

        <script type="application/javascript">

            var img_array = [
                    "{{ asset('bundles/ladansesite/images/background-1.jpg') }}",
                    "{{ asset('bundles/ladansesite/images/background-1.jpg') }}",
                    ];

            var index = 0;
            var interval = 10000;

            $(document).ready(function ()
            {
                var index = Math.floor((Math.random()*img_array.length)+1);

                var imgUrl = img_array[index++ % img_array.length];
                //$('body').css('backgroundImage', 'url(' + imgUrl + ')');
            });
        </script>

        <!-- The styles below are temporary -->

        <style type="text/css">

            html, body
            {
                height: 100%;
            }

            .wow-bg-image
            {
                /*background-color: black;*/
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: top;  
                background-size: 100% auto;   
            }

            .main-centered-container
            {
                width: 960px;
                margin-left: auto;
                margin-right: auto;
            }

        	#body-container
            {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                
                margin-top: 100px;
                min-height: 100%;
                height: auto !important; /*min-height hack*/
                height: 100%;            /*min-height hack*/

                -moz-border-top-left-radius: 15px;
                border-top-left-radius: 15px;
                -moz-border-top-right-radius: 15px;
                border-top-right-radius: 15px;
            }

            td.center-td
            {
                text-align: center;
            }

            #header-container
            {
                position: absolute;
                top: 0px;
                width: 100%;
            }

            #profile-container
            {
                /*width: 300px;*/
                padding: 5px;
                padding-left: 15px;
                padding-right: 15px;

                -moz-border-bottom-left-radius: 10px;
                border-bottom-left-radius: 10px;
                -moz-border-bottom-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

        </style>

    </head>
    <body class="wow-bg-image">

        <div id="header-container">
            <div class="main-centered-container">
                <div id="profile-container" class="bg-color-container" style="float: right;">
                    <span style="text-align: center;">
                    {% if auth.currentContext.authenticated %}
                            <div class="btn-group" style="text-align: left">
                                <span data-toggle="dropdown" style="cursor: pointer;">
                                     <i class="fa fa-user"></i> Logged in with {{ auth.currentContext.account.username }} 
                                    <span class="caret"></span>
                                </span>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="{{ path('fos_user_profile_show') }}">View profile</a></li>
                                    <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                                </ul>
                            </div>
                            | <i class="fa fa-envelope"></i> <a href="{{ path('createFeedbackIndex') }}">feedback</a>
                    {% else %}
                        <p>Not logged in | <a href="{{ path('fos_user_security_login') }}">log in</a></p>
                    {% endif %}
                    </span>
                </div>
            </div>
        </div>

    	<div id="body-container" class="bg-color-container main-centered-container">
    		{% block body %}{% endblock %}
    	</div>
        
    </body>
</html>