<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}La Danse - Welcome{% endblock %}</title>

        {# all CSS must be in the header to speed up rendering #}

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/eggplant/jquery-ui.css"
            rel="stylesheet">

        {% stylesheets filter='cssrewrite'
            'bundles/ladansebootstrap/less/themes/slate/custom-bootstrap.less'
            'bundles/coderspottingtoastmessage/css/*'
            'bundles/ladansesite/css/*'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        {# this inline CSS is temporary, it will be moved to separate file(s) #}

        <style type="text/css">

            html, body
            {
                height: 100%;
            }

            .wow-bg-image
            {
                background-image:url('{{ asset('bundles/ladansesite/images/background.jpg') }}');
                background-color: rgb(56, 0, 0);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: top;  
                background-size: 100% auto;   
            }

        	#body-container
            {
                margin-top: 50px;
                min-height: 100%;
                height: auto !important; /*min-height hack*/
                height: 100%;

                -moz-border-top-left-radius: 20px;
                border-top-left-radius: 20px;
                -moz-border-top-right-radius: 20px;
                border-top-right-radius: 20px;

                border: rgb(50, 50, 50) 1px solid;
                border-top-left-radius: 20px;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                box-shadow: inset 0 0 0px rgba(200, 200, 200, .8);

                padding-top: 15px;
            }

            td.center-td
            {
                text-align: center;
            }

            .centered-grid-container
            {
                width: 960px;
                margin-left: auto;
                margin-right: auto;   
            }

            .nav-container
            {
              width: 100%;
              height: 60px;
              background: rgba(50, 50, 50, .3);
            }

            .outer-container
            {
              position: relative;
              width: 100%;
              height: 60px;
            }

            .inner-container
            {
              position: absolute;
              top: 0;
              right: 0;
            }

        </style>

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

    </head>

    <body class="wow-bg-image">

    <div class="nav-container">
        <div class="container centered-grid-container">
            <div class="row">
                <div class="col-md-6">
                    <h3>La Danse Macabre</h3>
                </div>
                <div class="col-md-6">
                    <div class="outer-container">
                        <div class="inner-container">
                            {% if auth.currentContext.authenticated %}
                                <div class="btn-group" style="text-align: left">
                                    <span data-toggle="dropdown" style="cursor: pointer;">
                                        <i class="fa fa-user"></i> Logged in with {{ auth.currentContext.account.username }} 
                                        <span class="caret"></span>
                                    </span>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('viewClaims') }}">Characters</a></li>
                                        <li><a href="{{ path('fos_user_profile_show') }}">View profile</a></li>
                                        <li><a href="{{ path('fos_user_security_logout') }}">Log out</a></li>
                                    </ul>
                                </div> <!-- btn-group -->
                                | <i class="fa fa-envelope"></i> <a href="{{ path('createFeedbackIndex') }}">feedback</a>
                            {% else %}
                                <p>Not logged in | <a href="{{ path('fos_user_security_login') }}">log in</a></p>
                            {% endif %}
                        </div> <!-- inner-container -->
                    </div> <!-- outer-container -->
                </div> <!-- col -->
            </div> <!-- row -->
        </div> <!-- container -->
    </div> <!-- nav-container -->

    {# content is placed in a classical 960 grid #}
	<div id="body-container"
         class="container bg-color-container centered-grid-container">
        <div class="row">
            <div class="col-md-12">
                {% block body %}{% endblock %}
            </div> <!-- col -->
        </div> <!-- row -->
	</div> <!-- container -->

    {# all Javascript is moved to the rear of the document to speed up rendering #}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

    {% javascripts '@CoderSpottingToastMessageBundle/Resources/public/js/*'
                   '@LaDanseBootstrapBundle/Resources/public/js/*'
                   '@LaDanseSiteBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ renderToasts() }}

    {% block javascript %}{% endblock %}

    </body>
</html>