<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}La Danse - Welcome{% endblock %}</title>

        {# all CSS must be in the header to speed up rendering #}

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/eggplant/jquery-ui.css"
            rel="stylesheet">

        <link href="//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.css" rel="stylesheet">

        {% stylesheets filter='cssrewrite'
            'bundles/ladansebootstrap/less/themes/default/custom-bootstrap.less'
            'bundles/coderspottingtoastmessage/css/*'
            'bundles/ladansesite/css/*'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

        <style>
            #first-top-bar
            {
                position: relative;
                width: 100%;
                height: 68px;
                background-color: #000000;
            }

            #second-top-bar
            {
                width: 100%;
                height: 50px;

            }

            body
            {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: top;
                background-size: cover;
                background-image: url('{{ asset('bundles/ladansesite/images/background-white.jpg') }}');

            }
        </style>

    </head>

    <body class="">

    <div id="first-top-bar">
        <div style="width: 100%; max-width: 980px; margin: auto; position: relative;">
            <div style="float: left; position: relative;">
            <p style="font-size: 1.7em; color: white; line-height: 68px;">
                <img src="{{ asset('bundles/ladansesite/images/GuildLogo.png') }}" style="height: 85px; padding-top: 10px;" />
                <a style="color: white;" href="{{ path('welcomeIndex') }}">La Danse Macabre</a>
                <i class="fa fa-angle-down fa-1x"></i>
            </p>
            </div>

            <div style="position: relative; float: right;">
                <p style="font-size: 1.0em; color: white; line-height: 68px;">
                    <a style="color: white;" href="{{ path('welcomeSettings') }}">{{ auth.currentContext.account.displayName }}</a>
                    &nbsp; &nbsp;
                    <a style="color: white;" href="{{ path('fos_user_security_logout') }}">Sign out</a>
                    &nbsp; &nbsp;
                    <a style="color: white;" href="{{ path('createFeedbackIndex') }}"> <i class="fa fa-envelope"></i> </a>
                </p>
            </div>
        </div>
    </div>

    <div id="second-top-bar"></div>

    <div id="content-container" style="width: 100%; max-width: 980px; margin: auto; position: relative;">

    {% block body %}{% endblock %}

    </div>

    {# all Javascript is moved to the rear of the document to speed up rendering #}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/lang/en-gb.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.6.0/moment.min.js"></script>
    <script src="//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js"></script>

    {% javascripts '@CoderSpottingToastMessageBundle/Resources/public/js/*'
                   '@LaDanseBootstrapBundle/Resources/public/js/*'
                   '@LaDanseSiteBundle/Resources/public/js/*' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {{ renderToasts() }}

    {% if auth.currentContext.authenticated %}
    <script>
        var currentAccount = {
            id: {{ auth.currentContext.account.id }},
            username: '{{ auth.currentContext.account.username }}'
        };
    </script>
    {% endif %}

    {% block javascript %}{% endblock %}

    </body>
</html>