<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}La Danse - Welcome{% endblock %}</title>

        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/eggplant/jquery-ui.css"
            rel="stylesheet">

        {% stylesheets filter='cssrewrite'
            'bundles/ladansebootstrap/less/themes/cyborg/custom-bootstrap.less'
            'bundles/coderspottingtoastmessage/css/*'
            'bundles/ladansesite/css/*'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
        {% endstylesheets %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

        {% javascripts '@CoderSpottingToastMessageBundle/Resources/public/js/*' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        <link rel="apple-touch-icon" href="{{ asset('apple-touch-icon.png') }}" />

        {{ renderToasts() }}

        <script type="application/javascript">

            var img_array = [
                    //"{{ asset('bundles/ladansesite/images/background-1.jpg') }}",
                    "{{ asset('bundles/ladansesite/images/background-2.jpg') }}",
                    "{{ asset('bundles/ladansesite/images/background-3.jpg') }}",
                    "{{ asset('bundles/ladansesite/images/background-4.jpg') }}"];

            var index = 0;
            var interval = 10000;

            $(document).ready(function ()
            {
                var index = Math.floor((Math.random()*img_array.length)+1);

                var imgUrl = img_array[index++ % img_array.length];
                $('body').css('backgroundImage', 'url(' + imgUrl + ')');

                /*
                setTimeout(function ()
                {
                    var imgUrl = img_array[index++ % img_array.length];
                    $('body').css('backgroundImage', 'url(' + imgUrl + ')');

                    setTimeout(arguments.callee, interval);
                }, interval);
                */
            });
        </script>

        <!-- The styles below are temporary -->

        <style type="text/css">

            html, body
            {
                height: 100%;
            }

            .wow-bg-image
            {
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-position: center;  
                background-size: 100% auto;               

                transition-property: backgroundImage;
                transition-duration: 2s;
                transition-timing-function: ease-in-out;
                transition-delay: 2s;

                -webkit-transition: backgroundImage 2s 3s ease-in-out;
                -moz-transition: backgroundImage 2s 3s ease-in-out;
                -o-transition: backgroundImage 2s 3s ease-in-out;         
            }

        	DIV.BodyContent
            {
        		width: 960px;
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                margin: 100px auto auto;
                margin-top: 100px;
                
                min-height: 100%;
                height: auto !important /*min-height hack*/
                height: 100%;           /*min-height hack*/

                -moz-border-radius: 15px;
                border-radius: 15px;
            }

            td.center-td
            {
                text-align: center;
            }

            #ProfileContainer
            {
                position: absolute;
                left: 800px;
                top: 0px;
                height: 35px;
                padding: 5px;
            }

        </style>

    </head>
    <body class="wow-bg-image">
        
        <div id="ProfileContainer" class="bg-color-container">
            {% if auth.currentContext.authenticated %}
                <p>Logged in with {{ auth.currentContext.account.username }} 
                    | <a href="{{ path('fos_user_profile_show') }}">profile</a>
                    | <a href="{{ path('fos_user_security_logout') }}">log out</a></p>
            {% else %}
                <p>Not logged in | <a href="{{ path('fos_user_security_login') }}">log in</a></p>
            {% endif %}
        </div>

    	<div class="BodyContent bg-color-container">
    		{% block body %}{% endblock %}
    	</div>
        
    </body>
</html>