<div class="left-menu" id="left-menu-container">

    <a href="{{ path('menuIndex') }}">
        <div class="menu-item-container">
            <div class="menu-item-icon">
                <i class="fa fa-home"></i>
            </div>
            <div class="menu-item-label">
                Home
            </div>
        </div>
    </a>

    <a href="{{ path('calendarIndex') }}">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="menu-item-label">
            Calendar
        </div>
    </div>
    </a>

    <a href="{{ path('redirect', {'url': "https://www.facebook.com/groups/ladanse.guild/photos/?filter=photos" }) }}" target="_blank">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-picture-o"></i>
        </div>
        <div class="menu-item-label">
            Pictures
        </div>
    </div>
    </a>

    <a href="{{ path('teamSpeakIndex') }}">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-headphones"></i>
        </div>
        <div class="menu-item-label">
            Teamspeak
        </div>
    </div>
    </a>

    <a href="{{ path('forumIndex') }}">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-comments"></i>
        </div>
        <div class="menu-item-label">
            Forums
        </div>
    </div>
    </a>

    <a href="{{ path('charactersIndex') }}">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-users"></i>
        </div>
        <div class="menu-item-label">
            My Characters
        </div>
    </div>
    </a>

    <a href="{{ path('viewRoster') }}">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-th"></i>
        </div>
        <div class="menu-item-label">
            Who is Who
        </div>
    </div>
    </a>

    <a href="{{ path('aboutIndex') }}">
    <div class="menu-item-container">
        <div class="menu-item-icon">
            <i class="fa fa-info"></i>
        </div>
        <div class="menu-item-label">
            About
        </div>
    </div>
    </a>

</div>