{% extends 'LaDanseSiteBundle:layout:base.html.twig' %}

{% block body %}

    <div id="first-top-bar">
        <div style="width: 100%; max-width: 980px; margin: auto; position: relative;">
            <div class="top-bar-left-container">
                <img src="{{ asset('bundles/ladansesite/images/GuildLogo.png') }}" style="height: 85px; padding-top: 10px;" />
            </div>
            <div class="top-bar-left-container" style="font-size: 1.7em; color: white; line-height: 68px;">
                La Danse Macabre
            </div>
            {% if auth.currentContext.authenticated %}
                <a style="color: white;" href="{{ path('menuIndex') }}">
            {% else %}
                <a style="color: white;" href="{{ path('welcomeIndex') }}">
            {% endif %}
                <div id="menuActivator" class="top-bar-left-container"
                     style="font-size: 1.7em; color: white; line-height: 68px;">
                    <i class="fa fa-angle-down fa-1x"></i>
                </div>
            </a>

            <div style="position: relative; float: right;">
                <p style="font-size: 1.0em; color: white; line-height: 68px;">
                    {% if auth.currentContext.authenticated %}
                    <a class="no-underline" style="color: white;" href="{{ path('welcomeSettings') }}"
                       data-toggle="tooltip" data-placement="bottom" title="Edit account and settings">{{ auth.currentContext.account.displayName }}</a>
                    &nbsp; &nbsp;
                    <a class="no-underline" style="color: white;" href="{{ path('fos_user_security_logout') }}">Sign out</a>
                    &nbsp; &nbsp;
                    <a class="no-underline" style="color: white;" href="{{ path('createFeedbackIndex') }}"
                       data-toggle="tooltip" data-placement="bottom" title="Give feedback or report a bug"><i class="fa fa-envelope"></i></a>
                    &nbsp; &nbsp;
                    {% endif %}
                </p>
            </div>
        </div>
    </div>

    <div id="content-container" class="clearfix" style="width: 100%; position: relative;">

        {% block memberPageBody %}{% endblock %}

    </div>

{% endblock %}