{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Sign up for event - La Danse Macabre{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('calendarIndex') }}">Calendar</a></li>
        <li><a href="{{ path('viewEvent', {'id': event.id}) }}">Event '{{ event.name }}' - {{ event.inviteTime|date("d/m (D)") }}</a></li>
        <li class="active">Sign Up</li>
    </ol>

    <h1>Sign up for '{{ event.name }}' on {{ event.startTime|date("D d/m") }}</h1>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    {{ form(form) }}

{% endblock %}