{% if error is defined %}

    <p>{{ error }}</p>

{% else %} 

    {% if (claims|length != 0) %} 

        <table style="background-color: white;" cellpadding="5">

            {% for claim in claims %}

                <tr>
                    <td><a target="_blank" href="http://eu.battle.net/wow/en/character/defias-brotherhood/{{ claim.name }}/simple">{{ claim.name }}</a></td>
                    <td>{{ claim.level }}</td>
                    <td>{{ claim.class }}</td>
                    <td>{{ claim.race }}</td>
                </tr>
            
            {% endfor %}

        </table>

    {% else %} 
            <p>There are no claims for this character for this role.</p>
    {% endif %}

{% endif %}