{% if error is defined %}

    <p>{{ error }}</p>

{% else %}

    <style>
        div.claimsContainer
        {
            width: 100%;
        }
    </style>

    {% if (claims|length != 0) %} 

        <table style="background-color: white;">

            <tr>
                <td style="padding: 0 8px 0 8px;"></td>
                <td style="padding: 0 8px 0 8px;">Tank</td>
                <td style="padding: 0 8px 0 8px;">Healer</td>
                <td style="padding: 0 8px 0 8px;">DPS</td>
            </tr>

            {% for claim in claims %}

                <tr>
                    <td><a target="_blank" href="http://eu.battle.net/wow/en/character/{{ claim.realm }}/{{ claim.name }}/simple">{{ claim.name }}</a></td>
                    <td class="center-td">
                        {% if 'Tank' in claim.roles %}
                            <i class="signUp fa fa-times fa-1x {{ claim.raider ? 'text-success' : 'text-muted' }}"></i>
                        {% endif %}
                    </td>
                    <td class="center-td">
                        {% if 'Healer' in claim.roles %}
                            <i class="signUp fa fa-times fa-1x {{ claim.raider ? 'text-success' : 'text-muted' }}"></i>
                        {% endif %}
                    </td>
                    <td class="center-td">
                        {% if 'DPS' in claim.roles %}
                            <i class="signUp fa fa-times fa-1x {{ claim.raider ? 'text-success' : 'text-muted' }}"></i>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><i style="padding-left: 8px;">{{ claim.level }} {{ claim.class }} ({{ claim.race }})</i></td>
                </tr>
            
            {% endfor %}

            <tr>
                <td colspan="4" style="font-size: 0.85em;">
                    <i class="signUp fa fa-times fa-1x text-success"></i> = role as raider<br/>
                    <i class="signUp fa fa-times fa-1x text-muted"></i> = role as non-raider
                </td>
            </tr>

        </table>

    {% else %} 
            <p>There are no claimed characters for this account matching the criteria.</p>
    {% endif %}

{% endif %}