{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Raid - La Danse Macabre{% endblock %}

{% block javascript %}
    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready(function()
        {
            $("#removeWillComeSignUp").click(function()
            {
                return confirm('This will remove your sign up, are you sure?');
            });

            $("#removeEvent").click(function()
            {
                return confirm('This will remove the event, are you sure?');
            });

            $('.myPopover').popover(
            {
                toggle: "popover",
                container: 'body',
                trigger: 'hover',
                html: true,
                placement: 'bottom',
                content: function () 
                {
                    var $value = $(this).attr('data-accountId');

                    return $('.popper-content').html();
                }
            });
         });
    </script>
{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Event '{{ event.name }}'</li>
    </ol>

    <h1>{{ event.name }}</h1>

    <p>{{ event.description }}</p>

    <table class="table" style="width: auto;">
        <thead>
        <tr>
            <th class="center-td">Organiser</th>
            <th class="center-td">Date</th>
            <th class="center-td">Invite Time</th>
            <th class="center-td">Start Time</th>
            <th class="center-td">End Time</th>
            <th class="center-td"># Sign Ups</th>
            <th class="center-td"># Absences</th>
        </tr>
    </thead>
        <tr>
            <td class="center-td">{{ event.organiser.name }}</td>
            <td class="center-td">{{ event.inviteTime|date("d/m (D)") }}</td>
            <td class="center-td">{{ event.inviteTime|date("H:i") }}</td>
            <td class="center-td">{{ event.startTime|date("H:i") }}</td>
            <td class="center-td">{{ event.endTime|date("H:i") }}</td>
            <td class="center-td">
                {% if event.signUps.signUpCount != 0 %}
                    {{ event.signUps.signUpCount }}
                {% endif %}
            </td>
            <td class="center-td">
                {% if event.signUps.absentCount != 0 %}
                    {{ event.signUps.absentCount }}
                {% endif %}
            </td>
        </tr>
    </table>

    <h3>Sign Ups</h3>

    {% if (event.signUps.willComeCount != 0) or (event.signUps.mightComeCount != 0) or (event.signUps.absentCount != 0) %}    
    <table class="table table-condensed" style="width: auto;">
        <tr>
            <th>&nbsp;</th>
            <th class="center-td">Tank</th>
            <th class="center-td">Healer</th>
            <th class="center-td">Damage</th>
            <th><!-- remove --></th>
        </tr>
        {% for signUp in event.signUps.willComeSignUps %}
            {% if signUp.currentUser %}
            <tr class="active">
            {% else %} 
            <tr>   
            {% endif %}
                <td>{{ signUp.account.name }}</td>
                <td class="center-td">
                    {% if signUp.signedAsTank %}<i class="fa fa-times fa-1x text-success myPopover" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsHealer %}<i class="fa fa-times fa-1x text-success myPopover" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsDamage %}<i class="fa fa-times fa-1x text-success myPopover" data-accountId="14"></i>{% endif %}
                </td>
                <td>
                    {% if signUp.currentUser %}
                        <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for signUp in event.signUps.mightComeSignUps %}
            {% if signUp.currentUser %}
            <tr class="active">
            {% else %} 
            <tr>   
            {% endif %}
                <td>{{ signUp.account.name }}</td>
                <td class="center-td">
                    {% if signUp.signedAsTank %}<i class="fa fa-question fa-1x text-warning myPopover" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsHealer %}<i class="fa fa-question fa-1x text-warning myPopover" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsDamage %}<i class="fa fa-question fa-1x text-warning myPopover" data-accountId="14"></i>{% endif %}
                </td>
                <td>
                    {% if signUp.currentUser %}
                        <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for signUp in event.signUps.absentSignUps %}
            {% if signUp.currentUser %}
            <tr class="active">
            {% else %} 
            <tr>   
            {% endif %}
                <td>{{ signUp.account.name }}</td>
                <td class="center-td" colspan="3">
                    <i class="text-danger">can't come</i>
                </td>
                <td>
                    {% if signUp.currentUser %}
                        <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if (not event.signUps.currentUserSignedUp) and auth.currentContext.authenticated %}
        <p>You seemed to have forgotten to sign up for this event! Please <a href="{{ path('createSignUp', {'id': event.id}) }}">sign up</a> or inform us of your <a href="{{ path('createAbsence', {'id': event.id}) }}">absence</a>.</p>
    {% endif %}
    
    {% else %}    
        <p>There are no sign ups, <a href="{{ path('createSignUp', {'id': event.id}) }}">why not be the first</a> ... or inform us of your <a href="{{ path('createAbsence', {'id': event.id}) }}">absence</a>?</p>
    {% endif %}

    {% if event.isOrganiser and auth.currentContext.authenticated %}
        <p>As an organiser you can <a href="{{ path('editEvent', {'id': event.id}) }}">edit</a> this event or <a  id="removeEvent" href="{{ path('removeEvent', {'id': event.id}) }}">delete</a> it.</p> 
    {% endif %}

    <div class="popper-content hide">
        <p>Letodas (90)</p>
        <p>Sahibae (90)</p>
    </div>
    
{% endblock %}