{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Event - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader(event.name, path('calendarIndex')) }}

    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-md-4">
                <p class="event-label">Organised by {{ event.organiser.displayName }}</p>
                <p>{{ event.description }}</p>
            </div>
            
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">When</p>
                    <p>{{ event.inviteTime|date("d/m (D)") }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">Invite Time</p>
                    <p>{{ event.inviteTime|date("H:i") }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">Start Time</p>
                    <p>{{ event.startTime|date("H:i") }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">End Time</p>
                    <p>{{ event.endTime|date("H:i") }}</p>
                </div>
            </div>
        </div>
    </div>

    <br/>

    <h4>Sign Ups</h4>

    {# render all sign ups if at least one exists #}
    {% if (event.signUps.willComeCount != 0) 
        or (event.signUps.mightComeCount != 0) 
        or (event.signUps.absentCount != 0) %}   

        <table class="table table-condensed" style="width: auto;">
            <tr>
                <th>&nbsp;</th>
                <th class="center-td">Tank</th>
                <th class="center-td">Healer</th>
                <th class="center-td">Damage</th>
                <th><!-- remove --></th>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td class="center-td">({{ event.signUps.willComeTankCount }}/{{ event.signUps.mightComeTankCount }})</td>
                <td class="center-td">({{ event.signUps.willComeHealerCount }}/{{ event.signUps.mightComeHealerCount }})</td>
                <td class="center-td">({{ event.signUps.willComeDPSCount }}/{{ event.signUps.mightComeDPSCount }})</td>
                <td><!-- remove --></td>
            </tr>

            {# render 'will come' sign ups, if any #}
            {% for signUp in event.signUps.willComeSignUps %}
                {% if signUp.currentUser %}
                <tr class="active">
                {% else %} 
                <tr>   
                {% endif %}
                    <td>{{ signUp.account.displayName }}</td>
                    <td class="center-td">
                        {% if signUp.signedAsTank %}
                            <i class="signUp fa fa-times fa-1x text-success" 
                                data-url="{{ path('listClaims', 
                                    {'eventId': event.id,
                                     'accountId': signUp.account.id,
                                     'role': 'Tank'}) }}"></i>
                        {% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsHealer %}
                            <i class="signUp fa fa-times fa-1x text-success" 
                                data-url="{{ path('listClaims', 
                                    {'eventId': event.id,
                                     'accountId': signUp.account.id,
                                     'role': 'Healer'}) }}"></i>
                        {% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsDamage %}
                            <i class="signUp fa fa-times fa-1x text-success" 
                                data-url="{{ path('listClaims', 
                                    {'eventId': event.id,
                                     'accountId': signUp.account.id,
                                     'role': 'DPS'}) }}"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if signUp.currentUser %}
                            <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {# render 'might come' sign ups, if any #}
            {% for signUp in event.signUps.mightComeSignUps %}
                {% if signUp.currentUser %}
                <tr class="active">
                {% else %} 
                <tr>   
                {% endif %}
                    <td>{{ signUp.account.displayName }}</td>
                    <td class="center-td">
                        {% if signUp.signedAsTank %}<i class="signUp fa fa-question fa-1x text-warning" 
                                data-url="{{ path('listClaims', 
                                    {'eventId': event.id,
                                     'accountId': signUp.account.id,
                                     'role': 'Tank'}) }}"></i>{% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsHealer %}<i class="signUp fa fa-question fa-1x text-warning" 
                                data-url="{{ path('listClaims', 
                                    {'eventId': event.id,
                                     'accountId': signUp.account.id,
                                     'role': 'Healer'}) }}"></i>{% endif %}
                    </td>
                    <td class="center-td">
                        {% if signUp.signedAsDamage %}<i class="signUp fa fa-question fa-1x text-warning" 
                                data-url="{{ path('listClaims', 
                                    {'eventId': event.id,
                                     'accountId': signUp.account.id,
                                     'role': 'DPS'}) }}"></i>{% endif %}
                    </td>
                    <td>
                        {% if signUp.currentUser %}
                            <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

            {# render 'absent' sign ups, if any #}
            {% for signUp in event.signUps.absentSignUps %}
                {% if signUp.currentUser %}
                <tr class="active">
                {% else %} 
                <tr>   
                {% endif %}
                    <td>{{ signUp.account.displayName }}</td>
                    <td class="center-td" colspan="3">
                        <i class="text-danger">can't come</i>
                    </td>
                    <td>
                        {% if signUp.currentUser %}
                            <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </table>

        {# if the currently logged in user is not signed up yet, invite to do so #}
        {% if (not event.signUps.currentUserSignedUp) and auth.currentContext.authenticated %}
            <p>You seemed to have forgotten to sign up for this event! Please sign up or inform us of your absence</a>.</p>

            <p>
                <a class="btn btn-success" href="{{ path('createSignUp', {'id': event.id}) }}">sign up</a>
                <a class="btn btn-warning" href="{{ path('createAbsence', {'id': event.id}) }}">inform absence</a>
            </p>
        {% endif %}
    
    {# no sign ups, invite the user to make one or inform about absence #}
    {% else %}    
        <p>There are no sign ups yet.</p>

        <p>
            <a class="btn btn-success" href="{{ path('createSignUp', {'id': event.id}) }}">sign up</a>
            <a class="btn btn-warning" href="{{ path('createAbsence', {'id': event.id}) }}">inform absence</a>
        </p>
    {% endif %}

    {# if the currently logged in user is the organiser, edit and delete options are shown #}
    {% if event.isOrganiser and auth.currentContext.authenticated %}
        <p>As an organiser you can edit this event or delete it.</p> 

        <p>
            <a class="btn btn-primary" href="{{ path('editEvent', {'id': event.id}) }}">edit event</a>
            <a id="removeEvent" class="btn btn-danger" href="{{ path('removeEvent', {'id': event.id}) }}">delete event</a>
        </p>
    {% endif %}

    <br/>

    <h4>Comments</h4>

    {# placeholder for comments, content is supplied by jQuery scripts #}
    <div id="TopicContainer">
    </div>
    
{% endblock %}

{% block javascript %}

    {# make sure that any content of the 'javascript' block in parent templates is rendered as well #}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready(function()
        {
            $("#removeWillComeSignUp").click(function()
            {
                alertify.confirm('This will remove your sign up, are you sure?', 
                    function (e) 
                    {
                        if (e) 
                        {
                            location.assign('{{ path('removeSignUp', {'id': event.id}) }}');
                        } 
                    }
                );

                return false;
            });

            $("#removeEvent").click(function()
            {
                alertify.confirm('This will remove the event, are you sure?', 
                    function (e) 
                    {
                        if (e) 
                        {
                            location.assign('{{ path('removeEvent', {'id': event.id}) }}');
                        } 
                    }
                );

                return false;
            });
         });
    </script>

    <script>
        $(document).ready(function()
        {
            $('i.signUp').each(function()
            {
                $(this).qtip(
                {
                    content: {
                        text: function(event, api) 
                        {
                            $.ajax({
                                url: api.elements.target.attr('data-url') // Use href attribute as URL
                            })
                            .then(function(content) {
                                // Set the tooltip content upon successful retrieval
                                api.set('content.text', content);
                            }, function(xhr, status, error) {
                                // Upon failure... set the tooltip content to error
                                api.set('content.text', status + ': ' + error);
                            });
                
                            return 'Loading...'; // Set some initial text
                        }
                    },
                    position: {
                        viewport: $(window)
                    },
                    style: 'qtip-bootstrap',
                    hide: {
                        event: false,
                        inactive: 1500
                    }
                });
            });
        });
    </script>

    {% include 'LaDanseSiteBundle:events:eventForum.html.twig' %}

{% endblock %}