{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Event - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader(event.name, path('calendarIndex', {'showDate': event.startTime|date("Ymd") })) }}

    {# EVENT PASSED #}
	{% if (not isFuture) and event.state != 'Cancelled' %}
		<div class="alert alert-warning">
			<div style="text-align: center; font-size: 150%">
				This event is in the past! You can only comment.
			</div>
		</div>
	{% else %}

        {# PENDING #}
        {% if (event.state == 'Pending') %}
            <div class="alert alert-info event-state-container">
                <div class="state-icon"><i class="fa fa-question fa-2x" aria-hidden="true"></i></div>
                <div class="state-text">This event is still pending ...</div>
            </div>
        {% endif %}

        {# CONFIRMED #}
        {% if (event.state == 'Confirmed') %}
            <div class="alert alert-success event-state-container">
                <div class="state-icon"><i class="fa fa-check fa-2x" aria-hidden="true"></i></div>
                <div class="state-text">This event has been confirmed!</div>
            </div>
        {% endif %}

        {# CANCELLED #}
        {% if (event.state == 'Cancelled') %}
            <div class="alert alert-danger event-state-container">
                <div class="state-icon"><i class="fa fa-times fa-2x" aria-hidden="true"></i></div>
                <div class="state-text">This event has been cancelled. You can only comment.</div>
            </div>
        {% endif %}

    {% endif %}

    {# Render description, invite time ... in a horizontal table #}
    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-md-3">
                <p class="event-label">Organised by {{ event.organiser.displayName }}</p>
                <p>{{ event.description }}</p>
            </div>
            
            <div class="col-md-3">
                <div class="event-label-container">
                    <p class="event-label">When</p>
                    <p>{{ event.inviteTime|date("d/m (D)") }}, <span id="relativeStartTime"></span></p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">Invite Time</p>
                    <p>{{ event.inviteTime|date("H:i") }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">Start Time</p>
                    <p>{{ event.startTime|date("H:i") }}</p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">End Time</p>
                    <p>{{ event.endTime|date("H:i") }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-md-7">

                {% if (event.state == 'Pending' or event.state == 'Confirmed') %}

			    <h4>Sign Ups</h4>

			    {# render all sign ups if at least one exists #}
			    {% if (event.signUps.willComeCount != 0) 
			        or (event.signUps.mightComeCount != 0) 
			        or (event.signUps.absentCount != 0) %}   

			        <table class="table table-condensed" style="width: auto;">
			            <tr>
			                <th>&nbsp;</th>
			                <th class="center-td">Tank</th>
			                <th class="center-td">Healer</th>
			                <th class="center-td">Damage</th>
			                <th><!-- placeholder for remove signup action --></th>
							<th><!-- placeholder for edit signup action --></th>
			            </tr>

			            <tr>
							<td class="center-td">({{ event.signUps.totalWillCome }}/{{ event.signUps.totalMightCome }})</td>
			                <td class="center-td">({{ event.signUps.willComeTankCount }}/{{ event.signUps.mightComeTankCount }})</td>
			                <td class="center-td">({{ event.signUps.willComeHealerCount }}/{{ event.signUps.mightComeHealerCount }})</td>
			                <td class="center-td">({{ event.signUps.willComeDPSCount }}/{{ event.signUps.mightComeDPSCount }})</td>
			                <td><!-- remove --></td>
							<td><!-- edit --></td>
			            </tr>

			            {# render 'will come' sign ups, if any #}
			            {% for signUp in event.signUps.willComeSignUps %}
			                {% if signUp.currentUser %}
			                <tr class="active">
			                {% else %} 
			                <tr>   
			                {% endif %}
			                    <td><a href="{{ path('viewMember', {'accountId': signUp.account.id} ) }}">{{ signUp.account.displayName }}</a></td>
			                    <td class="center-td">
			                        {% if signUp.signedAsTank %}
			                            <i class="signUp fa fa-times fa-1x text-success" 
			                                data-url="{{ path('listClaims', 
			                                    {'eventId': event.id,
			                                     'accountId': signUp.account.id,
			                                     'role': 'Tank'}) }}"></i>
			                        {% endif %}
			                    </td>
			                    <td class="center-td">
			                        {% if signUp.signedAsHealer %}
			                            <i class="signUp fa fa-times fa-1x text-success" 
			                                data-url="{{ path('listClaims', 
			                                    {'eventId': event.id,
			                                     'accountId': signUp.account.id,
			                                     'role': 'Healer'}) }}"></i>
			                        {% endif %}
			                    </td>
			                    <td class="center-td">
			                        {% if signUp.signedAsDamage %}
			                            <i class="signUp fa fa-times fa-1x text-success" 
			                                data-url="{{ path('listClaims', 
			                                    {'eventId': event.id,
			                                     'accountId': signUp.account.id,
			                                     'role': 'DPS'}) }}"></i>
			                        {% endif %}
			                    </td>
			                    <td>
			                        {% if signUp.currentUser and isFuture %}
			                            <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'eventId': event.id}) }}">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
			                        {% endif %}
			                    </td>
								<td>
									{% if signUp.currentUser and isFuture %}
										<a href="{{ path('editSignUp', {'id': event.id}) }}">
											<i class="fa fa-pencil fa-1x"></i>
										</a>
									{% endif %}
								</td>
			                </tr>
			            {% endfor %}

			            {# render 'might come' sign ups, if any #}
			            {% for signUp in event.signUps.mightComeSignUps %}
			                {% if signUp.currentUser %}
			                <tr class="active">
			                {% else %} 
			                <tr>   
			                {% endif %}
			                    <td><a href="{{ path('viewMember', {'accountId': signUp.account.id} ) }}">{{ signUp.account.displayName }}</a></td>
			                    <td class="center-td">
			                        {% if signUp.signedAsTank %}<i class="signUp fa fa-question fa-1x text-warning" 
			                                data-url="{{ path('listClaims', 
			                                    {'eventId': event.id,
			                                     'accountId': signUp.account.id,
			                                     'role': 'Tank'}) }}"></i>{% endif %}
			                    </td>
			                    <td class="center-td">
			                        {% if signUp.signedAsHealer %}<i class="signUp fa fa-question fa-1x text-warning" 
			                                data-url="{{ path('listClaims', 
			                                    {'eventId': event.id,
			                                     'accountId': signUp.account.id,
			                                     'role': 'Healer'}) }}"></i>{% endif %}
			                    </td>
			                    <td class="center-td">
			                        {% if signUp.signedAsDamage %}<i class="signUp fa fa-question fa-1x text-warning" 
			                                data-url="{{ path('listClaims', 
			                                    {'eventId': event.id,
			                                     'accountId': signUp.account.id,
			                                     'role': 'DPS'}) }}"></i>{% endif %}
			                    </td>
			                    <td>
			                        {% if signUp.currentUser and isFuture %}
			                            <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'eventId': event.id}) }}">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
			                        {% endif %}
			                    </td>
								<td>
									{% if signUp.currentUser and isFuture %}
										<a href="{{ path('editSignUp', {'id': event.id}) }}">
											<i class="fa fa-pencil fa-1x"></i>
										</a>
									{% endif %}
								</td>
			                </tr>
			            {% endfor %}

			            {# render 'absent' sign ups, if any #}
			            {% for signUp in event.signUps.absentSignUps %}
			                {% if signUp.currentUser %}
			                <tr class="active">
			                {% else %} 
			                <tr>   
			                {% endif %}
			                    <td><a href="{{ path('viewMember', {'accountId': signUp.account.id} ) }}">{{ signUp.account.displayName }}</a></td>
			                    <td class="center-td" colspan="3">
			                        <i class="text-danger">can't come</i>
			                    </td>
			                    <td>
			                        {% if signUp.currentUser and isFuture %}
			                            <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'eventId': event.id}) }}">
											<i class="fa fa-trash-o fa-1x"></i>
										</a>
			                        {% endif %}
			                    </td>
								<td>
									{% if signUp.currentUser and isFuture %}
										<a href="{{ path('editSignUp', {'id': event.id}) }}">
											<i class="fa fa-pencil fa-1x"></i>
										</a>
									{% endif %}
								</td>
			                </tr>
			            {% endfor %}

			        </table>

			        {# if the currently logged in user is not signed up yet, invite to do so #}
			        {% if (not event.signUps.currentUserSignedUp) and auth.currentContext.authenticated and isFuture %}
			            <p>You seemed to have forgotten to sign up for this event! Please sign up or inform us of your absence</a>.</p>

			            <p>
			                <a class="btn btn-success" href="{{ path('createSignUp', {'eventId': event.id}) }}">sign up</a>
			                <a class="btn btn-warning" href="{{ path('createAbsence', {'eventId': event.id}) }}">can't come</a>
			            </p>
			        {% endif %}
			    
			    {# no sign ups, invite the user to make one or inform about absence #}
			    {% elseif isFuture %}
			        <p>There are no sign ups yet. Be the first to sign up or inform us of your absence.</p>

			        <p>
			            <a class="btn btn-success" href="{{ path('createSignUp', {'eventId': event.id}) }}">sign up</a>
			            <a class="btn btn-warning" href="{{ path('createAbsence', {'eventId': event.id}) }}">can't come</a>
			        </p>
				{% else %}
					<p>There were no sign ups.</p>
			    {% endif %}

                {% endif %}

			    {# if the currently logged in user is the organiser, edit and delete options are shown #}
			    {% if event.isOrganiser and auth.currentContext.authenticated and isFuture and (event.state == 'Pending' or event.state == 'Confirmed') %}
                    <div style="margin-top: 50px;">
                        <h4>Event Management</h4>
                        <div style="float: left;">
                            <p>
                                {% if event.state == 'Pending' or event.state == 'Confirmed' %}
                                    <a class="btn btn-primary" href="{{ path('editEvent', {'id': event.id}) }}">edit event</a>
                                {% endif %}
                                {% if event.state == 'Pending' %}
                                    <a class="btn btn-success" href="{{ path('confirmEvent', {'id': event.id}) }}">confirm event</a>
                                    <a class="btn btn-warning" href="{{ path('cancelEvent', {'id': event.id}) }}">cancel event</a>
                                {% endif %}
                            </p>
                        </div>
                        <div style="float: right;">
                            <p>
                                {% if event.state == 'Pending' %}
                                    <a id="removeEvent" class="btn btn-danger" href="{{ path('removeEvent', {'id': event.id}) }}">delete event</a>
                                {% endif %}
                            </p>
                        </div>
                    </div>
			    {% endif %}

		    </div>

		    <div class="col-md-5">

			    {# placeholder for comments, content is supplied by Angular application #}
			    <div ng-app="LaDanseApp">

			        <div ng-view>
                        <div ng-controller="RedirectCtrl"
                             ng-init="redirect('/comments')">
                        </div>
                    </div>

			    </div>

		    </div>

		</div>

	</div>

    <div class="faq">

        <p class="header">Frequently Asked Questions</p>

        <p class="question">What does 'Pending', 'Confirmed' and 'Cancelled' mean?</p>

        <p class="answer">
            An event goes through different states to help our members better manage their online time.
        </p>
        <p class="answer">
            When an event is created, it enters the <strong>Pending</strong> state. This means that we allow people
            time to sign up or inform us of their absence. A short time before the event is supposed to take place,
            typically 4 - 12 hours up front, the event organiser decides if the event will take place or not.
            If sufficient people signed up, the event organiser will <strong>Confirm</strong> the event, otherwise
            (s)he will <strong>Cancel</strong> the event.
        </p>
        <p class="answer">
            This is to avoid having people turn up for an event that will most likely not take place.
        </p>

        <p class="question">Can I be notified when an event is confirmed or cancelled?</p>

        <p class="answer">
            Yes, you can receive an email when an event you signed up for is confirmed or cancelled. You can
            <a href="{{ path('editNotifications') }}">configure your notification settings here</a>.
        </p>

    </div>
    
{% endblock %}

{% block javascript %}

    {# make sure that any content of the 'javascript' block in parent templates is rendered as well #}
    {{ parent() }}

    <script type="text/javascript">
        var commentGroupId = '{{ event.topicId }}';
    </script>

    {{ include('LaDanseAngularBundle::javascript.html.twig') }}

    <script type="application/javascript">
        $(document).ready(function()
        {
            var eventStartDate = "{{ event.inviteTime|date("Y-m-j H:i") }}";

            var relativeStart = moment(eventStartDate, "YYYY-MM-DD HH:mm").fromNow();

            $("#relativeStartTime").text(relativeStart);
        });
    </script>

    <script type="application/javascript">
        $(document).ready(function()
        {
            $("#removeWillComeSignUp").click(function()
            {
                alertify.confirm('This will remove your sign up, are you sure?', 
                    function (e) 
                    {
                        if (e) 
                        {
                            location.assign('{{ path('removeSignUp', {'eventId': event.id}) }}');
                        } 
                    }
                );

                return false;
            });

            $("#removeEvent").click(function()
            {
                alertify.confirm('This will remove the event, are you sure?', 
                    function (e) 
                    {
                        if (e) 
                        {
                            location.assign('{{ path('removeEvent', {'id': event.id}) }}');
                        } 
                    }
                );

                return false;
            });
         });
    </script>

    <script>
        $(document).ready(function()
        {
            $('i.signUp').each(function()
            {
                $(this).qtip(
                {
                    content: {
                        text: function(event, api) 
                        {
                            $.ajax({
                                url: api.elements.target.attr('data-url') // Use href attribute as URL
                            })
                            .then(function(content) {
                                // Set the tooltip content upon successful retrieval
                                api.set('content.text', content);
                            }, function(xhr, status, error) {
                                // Upon failure... set the tooltip content to error
                                api.set('content.text', status + ': ' + error);
                            });
                
                            return 'Loading...'; // Set some initial text
                        }
                    },
                    position: {
                        viewport: $(window)
                    },
                    style: 'qtip-bootstrap',
                    hide: {
                        event: 'unfocus',
                        inactive: false
                    },
                    show: {
                        solo: 'i.signUp'
                    }
                });
            });
        });
    </script>

{% endblock %}