{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Raid - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li><a href="{{ path('calendarIndex') }}">Calendar</a></li>
        <li class="active">Event '{{ event.name }}' - {{ event.inviteTime|date("d/m (D)") }}</li>
    </ol>

    <h1>{{ event.name }}</h1>

    <style>
        .fluid-grid-event
        {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }

        .row-event
        {
            clear: both;
        }

        .col-event
        {
            position: relative;
            width: 18.4%;
            float: left;
            margin-right: 2%;
        }

        .col-event:last-child
        {
            margin-right: 0;
        }

        .event-label-container
        {
            text-align: center;
        }

        .event-label
        {
            font-weight: bold;
            font-size: 1.3em;
        }

        .post
        {
            margin-bottom: 15px;
        }

        .post .poster
        {
            font-weight: bold;
            color: rgb(255, 255, 255);
        }

        .post .postDate
        {
            font-size: 85%;
            font-style: italic;
        }
    </style>


    <div class="container-fluid" style="padding-top: 15px;">
        <div class="row">
            <div class="col-md-4">
                <p class="event-label">Organised by {{ event.organiser.name }}</p>
                <p>{{ event.description }}</p>
            </div>
            
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">When</p>
                        <p>{{ event.inviteTime|date("d/m (D)") }}</p>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">Invite Time</p>
                        <p>{{ event.inviteTime|date("H:i") }}</p>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">Start Time</p>
                        <p>{{ event.startTime|date("H:i") }}</p>
                    </div>
            </div>
            <div class="col-md-2">
                <div class="event-label-container">
                    <p class="event-label">End Time</p>
                        <p>{{ event.endTime|date("H:i") }}</p>
                    </div>
            </div>
        </div>
    </div>

    <br/>

    <h4>Sign Ups</h4>

    {% if (event.signUps.willComeCount != 0) or (event.signUps.mightComeCount != 0) or (event.signUps.absentCount != 0) %}    
    <table class="table table-condensed" style="width: auto;">
        <tr>
            <th>&nbsp;</th>
            <th class="center-td">Tank</th>
            <th class="center-td">Healer</th>
            <th class="center-td">Damage</th>
            <th><!-- remove --></th>
        </tr>
        {% for signUp in event.signUps.willComeSignUps %}
            {% if signUp.currentUser %}
            <tr class="active">
            {% else %} 
            <tr>   
            {% endif %}
                <td>{{ signUp.account.name }}</td>
                <td class="center-td">
                    {% if signUp.signedAsTank %}<i class="fa fa-times fa-1x text-success" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsHealer %}<i class="fa fa-times fa-1x text-success" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsDamage %}<i class="fa fa-times fa-1x text-success" data-accountId="14"></i>{% endif %}
                </td>
                <td>
                    {% if signUp.currentUser %}
                        <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for signUp in event.signUps.mightComeSignUps %}
            {% if signUp.currentUser %}
            <tr class="active">
            {% else %} 
            <tr>   
            {% endif %}
                <td>{{ signUp.account.name }}</td>
                <td class="center-td">
                    {% if signUp.signedAsTank %}<i class="fa fa-question fa-1x text-warning" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsHealer %}<i class="fa fa-question fa-1x text-warning" data-accountId="14"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if signUp.signedAsDamage %}<i class="fa fa-question fa-1x text-warning" data-accountId="14"></i>{% endif %}
                </td>
                <td>
                    {% if signUp.currentUser %}
                        <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        {% for signUp in event.signUps.absentSignUps %}
            {% if signUp.currentUser %}
            <tr class="active">
            {% else %} 
            <tr>   
            {% endif %}
                <td>{{ signUp.account.name }}</td>
                <td class="center-td" colspan="3">
                    <i class="text-danger">can't come</i>
                </td>
                <td>
                    {% if signUp.currentUser %}
                        <a id="removeWillComeSignUp" href="{{ path('removeSignUp', {'id': event.id}) }}">Remove</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>

    {% if (not event.signUps.currentUserSignedUp) and auth.currentContext.authenticated %}
        <p>You seemed to have forgotten to sign up for this event! Please <a href="{{ path('createSignUp', {'id': event.id}) }}">sign up</a> or inform us of your <a href="{{ path('createAbsence', {'id': event.id}) }}">absence</a>.</p>
    {% endif %}
    
    {% else %}    
        <p>There are no sign ups, <a href="{{ path('createSignUp', {'id': event.id}) }}">why not be the first</a> ... or inform us of your <a href="{{ path('createAbsence', {'id': event.id}) }}">absence</a>?</p>
    {% endif %}

    {% if event.isOrganiser and auth.currentContext.authenticated %}
        <p>As an organiser you can <a href="{{ path('editEvent', {'id': event.id}) }}">edit</a> this event or <a  id="removeEvent" href="{{ path('removeEvent', {'id': event.id}) }}">delete</a> it.</p> 
    {% endif %}

    <div id="TopicContainer">
    </div>

    <div id="PostFormContainer" style="display: none;">
        <textarea id="PostMessage" placeholder="Write a comment ..." cols="60"></textarea>
        <button type="button" class="btn btn-default"
            onClick="submitNewPost();">Post</button>
    </div>
    
{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script type="application/javascript">
        $(document).ready(function()
        {
            $("#removeWillComeSignUp").click(function()
            {
                return confirm('This will remove your sign up, are you sure?');
            });

            $("#removeEvent").click(function()
            {
                return confirm('This will remove the event, are you sure?');
            });
         });
    </script>

    {% verbatim %}
        <script id="posts-template" type="text/template">

            <hr />

            {{#posts}}
                <div class="post">
                    <div>
                        <span class="poster">{{ poster }}</span> <span class="message">{{ message }}</span>
                    </div>
                    <div><span class="postDate">{{ postDate }}</span></div>
                </div>
            {{/posts}}
        </script>

        <script id="no-posts-template" type="text/template">

            <hr />

            <p>There are no posts yet, be the first to comment on this event!</p>
        </script>

        <script id="error-posts-template" type="text/template">

            <hr />

            <p>We are sorry but there was a problem fetching comments.</p>
        </script>
    {% endverbatim %}

<script>

$(document).ready(function()
{
    refreshPosts();
});

function refreshPosts()
{
    var postsServiceURL = '../services/forum/topics/{{ event.topicId }}/posts/';

    $.when($.ajax({
        type: "GET",
        url: postsServiceURL,
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    })).then(postsSuccessFunc, postsErrorFunc);
}

function postsSuccessFunc(data, textStatus, jqXHR)
{
    var posts = data.posts;

    if (posts.length === 0)
    {
        var template = $('#no-posts-template').html();
        var html = Mustache.to_html(template, null);
        $('#TopicContainer').html(html);

        $('#PostFormContainer').show();
    }
    else
    {
        for (var i = 0; i < posts.length; i++)
        {
            var momentDate = moment(posts[i].postDate);

            posts[i].postDate = momentDate.format("ddd MMM Do YYYY - HH:mm");
        }

        var view = {
            posts: posts
        };

        var template = $('#posts-template').html();
        var html = Mustache.to_html(template, view);
        $('#TopicContainer').html(html);

        $('#PostFormContainer').show();
    }
}

function postsErrorFunc(jqXHR, textStatus, errorThrown)
{
    console.log("Error fetching topic comments " + textStatus);
    console.log(errorThrown);

    var template = $('#error-posts-template').html();
    var html = Mustache.to_html(template, null);
    $('#TopicContainer').html(html);
}

function submitNewPost()
{
    var postUrl = '../services/forum/topics/{{ event.topicId }}/posts/';

    var textareaValue = $("textarea#PostMessage").val();

    if (!textareaValue || !textareaValue.trim())
    {
        console.log("Textarea was empty");

        return;
    }

    var postData = {
        message: textareaValue.trim()
    };

    postDataString = JSON.stringify(postData); 

    console.log(postDataString);

    $.post(postUrl, postDataString, 
        function(data, textStatus, jqXHR)
        {
            console.log("Posting succeeded");

            $("textarea#PostMessage").val("");

            refreshPosts();
        })
    .done(function()
    {
    })
    .fail(function()
    {
        console.log("Posting failed");
    });
}

</script>

{% endblock %}