{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}La Danse Macabre{% endblock %}

{% block memberPageBody %}

    <div class="clearfix"></div>

    <div id="menu-container-wrapper">

        <div id="menu-container">

            <div id="guildmeet-banner">

                <div class="alert alert-success">
                    <p id="guildmeet-header" class="header">123 days until the guildmeet!</p>
                    <p><a href="{{ path('GuildMeet') }}">click here for more information</a></p>
                </div>

            </div>

            <ul id="menu-column-list">
                <li id="menu1Selector" class="selected">site</li>
                <li id="menu2Selector">resources</li>
                {% if wowheadNews is defined and wowheadNews|length > 0 %}<li id="menu3Selector">news</li>{% endif %}
            </ul>

            <div id="menu-page-container">

                <div id="menu-page-slider">

                    <div id="menu-page-slider2" style="position: inherit;">

                        <!-- general -->
                        <div class="menu-column menu-column-tiles masonry-column-normal">

                            <a class="masonry-item" href="{{ path('calendarIndex') }}">
                                <div class="tile double">
                                    {{ render(controller('LaDanseSiteBundle:Calendar/Calendar:tilePartial')) }}
                                    <div class="label"><i class="fa fa-calendar fa-2x"></i></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "https://www.facebook.com/groups/ladanse.guild/photos/?filter=photos" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <i class="fa fa-picture-o fa-5x"></i>
                                        </div>
                                    </div>
                                    <div class="label"><span>Pictures</span></div>
                                </div>
                            </a>

                            <a class="masonry-item"
                                    {% if auth.currentContext.authenticated %}
                                        href="{{ path('teamSpeakIndex') }}"
                                    {% else %}
                                        href="{{ path('welcomeIndex') }}"
                                    {% endif %} >
                                <div id="teamspeakTile" class="tile default" data-delay="2000" data-direction="horizontal">
                                    <div class="label"><i class="fa fa-headphones fa-2x"></i></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('forumIndex') }}">
                                <div class="tile double" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div style="padding: 15px;">
                                            <p style="font-size: 1.3em;">Forum</p>

                                            <p>Discussions and announcements on all <br/>kinds of topics.</p>
                                        </div>
                                    </div>
                                    <div class="tile-content">
                                        <div style="padding: 15px;">
                                            <p style="font-size: 1.8em;">Join the discussion!</p>
                                        </div>
                                    </div>
                                    <div class="badge-left"><i class="fa fa-comments fa-2x"></i></div>
                                    {{ render(controller('LaDanseSiteBundle:Forum/Forum:tileLabel')) }}
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "https://www.facebook.com/groups/23877201619/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="70" src="{{ asset('bundles/ladansesite/images/FB-f-Logo__blue_100.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>Facebook Page</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('aboutIndex') }}">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <i class="fa fa-info fa-5x"></i>
                                        </div>
                                    </div>
                                    <div class="label"><span>About</span></div>
                                </div>
                            </a>

                        </div>

                        <!-- wow -->
                        <div class="menu-column menu-column-tiles masonry-column-normal">

                            <a class="masonry-item" href="{{ path('viewClaims') }}">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <i class="fa fa-users fa-5x"></i>
                                        </div>
                                    </div>
                                    <div class="label"><span>My WoW Characters</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "http://www.icy-veins.com/wow/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="120" src="{{ asset('bundles/ladansesite/images/logo_icyveins.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>Icy Veins</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "http://www.wowhead.com/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="120" src="{{ asset('bundles/ladansesite/images/logo_wowhead.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>Wowhead</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "https://www.askmrrobot.com/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="100" src="{{ asset('bundles/ladansesite/images/AMRLogoHomePage.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>Ask Mr Robot</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "http://wowpedia.org/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="90" src="{{ asset('bundles/ladansesite/images/logo_wowpedia.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>Wowpedia</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "https://www.warcraftlogs.com/guilds/1922/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <i class="fa fa-heartbeat fa-5x"></i>
                                        </div>
                                    </div>
                                    <div class="label"><span>Warcraft Logs</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "http://eu.battle.net/wow/en/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="90" src="{{ asset('bundles/ladansesite/images/BattleNet.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>WoW Battle.net</span></div>
                                </div>
                            </a>

                            <a class="masonry-item" href="{{ path('redirect', {'url': "http://eu.battle.net/wow/en/guild/defias-brotherhood/La_Danse_Macabre/" }) }}" target="_blank">
                                <div class="tile default" data-direction="vertical" data-delay="8000">
                                    <div class="tile-content">
                                        <div class="image">
                                            <img width="90" src="{{ asset('bundles/ladansesite/images/BattleNetAndGuildLogo.png') }}" />
                                        </div>
                                    </div>
                                    <div class="label"><span>La Danse @ Battle.net</span></div>
                                </div>
                            </a>

                        </div>

                        <div class="menu-column menu-news">

                            <p class="news-title">wowhead news</p>

                            {% if wowheadNews is defined and wowheadNews|length > 0 %}

                            <div style="width: 400px;">

                                {% for item in wowheadNews %}

                                    <p class="news-item"><a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
                                        <br/>
                                        <span class="news-timestamp">{{ item.pubDate }}</span>
                                    </p>

                                {% endfor %}

                            </div>

                            {% endif %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>


{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script>

        function refreshTeamSpeakTile()
        {
            var clientsServiceURL = '../teamspeak/clients';

            $.when($.ajax({
                type: "GET",
                url: clientsServiceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            })).then(tsClientsSuccessFunc, tsClientsErrorFunc);
        }

        $(document).ready(function()
        {
            refreshTeamSpeakTile();
            setInterval(refreshTeamSpeakTile, 30 * 1000);
        });

        $(document).ready(function()
        {
            var viewportWidth = $( document ).width();
            var tileContainer = $( '#top-tile-container' );

            var margin = Math.round((viewportWidth - tileContainer.width()) / 2 - 1);

            tileContainer.css('margin-left', margin + 'px');
            tileContainer.css('visibility', 'visible');
        });

    </script>

    <script>

        $(document).ready(function()
        {
            $('.menu-column-tiles').masonry({
                columnWidth: 150,
                gutter: 15,
                itemSelector: '.masonry-item'
            });

            $('#menu-container').css('visibility', 'visible');
        });

    </script>

    <script>

        $(document).ready(function()
        {
            for(var i = 1; i <= 4; i++)
            {
                $( "#menu" + i + "Selector" ).click(
                    (function(index)
                    {
                        return function()
                        {
                            slideMenu(index);
                        };
                    }(i))
                );
            }
        });

        function slideMenu(steps)
        {
            var newPosition = calculateDisplacement(steps);

            $( "#menu-page-slider2" ).animate(
                    {
                        left: newPosition,
                    }, 500, function() {
                        // Animation complete.
                    });

            for(var i = 1; i <= 4; i++)
            {
                $( "#menu" + i + "Selector").removeClass("selected");
            }

            $( "#menu" + steps + "Selector").addClass("selected");
        }

        function calculateDisplacement(steps)
        {
            if (steps == 1)
            {
                return 0;
            }

            var menuColumns = $("#menu-page-slider2").children();

            var displacement = 0;

            menuColumns.each(function(i, elem)
            {
                if (i > (steps - 2))
                {
                    return;
                }
                else if (i == (steps - 2))
                {
                    displacement += $(elem).width() * 3  / 4;
                }
                else
                {
                    displacement += $(elem).width() + 30;
                }
            });

            return -1 * displacement;
        }

        Date.dateDiff = function(datepart, fromdate, todate)
        {
            datepart = datepart.toLowerCase();
            var diff = todate - fromdate;
            var divideBy = { w:604800000,
                d:86400000,
                h:3600000,
                n:60000,
                s:1000 };

            return Math.floor( diff/divideBy[datepart]);
        }

        $(document).ready(function()
        {
            var guildmeetStart = new Date(2016, 7-1, 15);
            var today = new Date();
            //var today = new Date(2016, 7-1, 14);

            var daysUntil = Date.dateDiff('d', today, guildmeetStart);

            if (daysUntil >= -1)
            {
                $("#guildmeet-banner").show();
            }

            if (daysUntil > 1)
            {
                $("#guildmeet-header").text("Only " + daysUntil + " days left until the guildmeet on July 15-16-17!");
            }
            else if (daysUntil == 1)
            {
                $("#guildmeet-header").text("Only 1 day left until the guildmeet on July 15-16-17!");
            }
            else if (daysUntil == 0 || daysUntil == -1)
            {
                $("#guildmeet-header").text("The guildmeet is happening right now!");
            }
        });

    </script>

{% endblock %}
