{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}La Danse Macabre{% endblock %}

{% block memberPageBody %}

    <div class="clearfix"></div>

    <div id="top-tile-container" class="tile-container">

        <div class="masonry-container" style="padding: 0px; margin-top: 20px;">

            <a class="masonry-item" href="{{ path('calendarIndex') }}">
                <div class="tile double">
                    {{ render(controller('LaDanseSiteBundle:Calendar/Calendar:tilePartial')) }}
                    <div class="label"><i class="fa fa-calendar fa-2x"></i></div>
                </div>
            </a>

            <a class="masonry-item" href="{{ path('viewClaims') }}">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                    </div>
                    <div class="label"><span>My Characters</span></div>
                </div>
            </a>

            <a class="masonry-item" href="{{ path('galleryUnderConstruction') }}">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <i class="fa fa-picture-o fa-5x"></i>
                        </div>
                    </div>
                    <div class="label"><span>Pictures</span></div>
                </div>
            </a>

            <a class="masonry-item" href="{{ path('aboutIndex') }}">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <i class="fa fa-info fa-5x"></i>
                        </div>
                    </div>
                    <div class="label"><span>About</span></div>
                </div>
            </a>

            <a class="masonry-item"
               {% if auth.currentContext.authenticated %}
                    href="{{ path('teamSpeakIndex') }}"
                {% else %}
                    href="{{ path('welcomeIndex') }}"
                {% endif %} >
                <div id="teamspeakTile" class="tile default" data-delay="2000" data-direction="horizontal">
                    <div class="label"><i class="fa fa-headphones fa-2x"></i></div>
                </div>
            </a>

            <a class="masonry-item" href="{{ path('forumIndex') }}">
                <div class="tile double" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div style="padding: 15px;">
                            <p style="font-size: 1.3em;">Forum</p>

                            <p>Discussions and announcements on all <br/>kinds of topics.</p>
                        </div>
                    </div>
                    <div class="tile-content">
                        <div style="padding: 15px;">
                            <p style="font-size: 1.8em;">Join the discussion!</p>
                        </div>
                    </div>
                    <div class="badge-left"><i class="fa fa-comments fa-2x"></i></div>
                    {{ render(controller('LaDanseSiteBundle:Forum/Forum:tileLabel')) }}
                </div>
            </a>

        </div>
        <!-- .masonry-container -->

        <div class="clearfix"></div>

        <div class="masonry-container" style="padding: 0px; margin-top: 20px;">

            <a class="masonry-item" href="https://www.facebook.com/groups/23877201619/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <img width="70" src="{{ asset('bundles/ladansesite/images/FB-f-Logo__blue_100.png') }}" />
                        </div>
                    </div>
                    <div class="label"><span>Facebook Page</span></div>
                </div>
            </a>

            <a class="masonry-item" href="http://www.icy-veins.com/wow/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <img width="120" src="{{ asset('bundles/ladansesite/images/logo_icyveins.png') }}" />
                        </div>
                    </div>
                    <div class="label"><span>Icy Veins</span></div>
                </div>
            </a>

            <a class="masonry-item" href="http://www.wowhead.com/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <img width="120" src="{{ asset('bundles/ladansesite/images/logo_wowhead.png') }}" />
                        </div>
                    </div>
                    <div class="label"><span>Wowhead</span></div>
                </div>
            </a>

            <a class="masonry-item" href="http://wowpedia.org/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <img width="90" src="{{ asset('bundles/ladansesite/images/logo_wowpedia.png') }}" />
                        </div>
                    </div>
                    <div class="label"><span>Wowpedia</span></div>
                </div>
            </a>

            <a class="masonry-item" href="http://eu.battle.net/wow/en/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <img width="90" src="{{ asset('bundles/ladansesite/images/BattleNet.png') }}" />
                        </div>
                    </div>
                    <div class="label"><span>WoW Battle.net</span></div>
                </div>
            </a>

            <a class="masonry-item" href="http://eu.battle.net/wow/en/guild/defias-brotherhood/La_Danse_Macabre/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <img width="90" src="{{ asset('bundles/ladansesite/images/BattleNetAndGuildLogo.png') }}" />
                        </div>
                    </div>
                    <div class="label"><span>La Danse @ Battle.net</span></div>
                </div>
            </a>

            <a class="masonry-item" href="https://www.warcraftlogs.com/guilds/1922/" target="_blank">
                <div class="tile default" data-direction="vertical" data-delay="8000">
                    <div class="tile-content">
                        <div class="image">
                            <i class="fa fa-heartbeat fa-5x"></i>
                        </div>
                    </div>
                    <div class="label"><span>Warcraft Logs</span></div>
                </div>
            </a>

        </div>
        <!-- .masonry-container -->

    </div>
    <!-- top-tile-container -->


{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script>

        $(document).ready(function()
        {
            var clientsServiceURL = '../teamspeak/clients';

            $.when($.ajax({
                type: "GET",
                url: clientsServiceURL,
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            })).then(tsClientsSuccessFunc, tsClientsErrorFunc);
        });

        $(document).ready(function()
        {
            var viewportWidth = $( document ).width();
            var tileContainer = $( '#top-tile-container' );

            var margin = Math.round((viewportWidth - tileContainer.width()) / 2 - 1);

            tileContainer.css('margin-left', margin + 'px');
            tileContainer.css('visibility', 'visible');
        });

    </script>

    <script>

        $(document).ready(function() {

            // with jQuery
            $('.masonry-container').masonry({
                columnWidth: 150,
                gutter: 15,
                itemSelector: '.masonry-item'
            });

        });

    </script>

{% endblock %}
