{% extends 'LaDanseSiteBundle:layout:member-page-centered.html.twig' %}

{% block title %}La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

	<style>

		a div.tile:hover
		{
			background-color: rgba(75, 75, 75, .95);
			outline: #999999 solid 3px;
		}

		.tile
		{
            height: 100%;
			background-color: rgba(75, 75, 75, .8);
			
			position: relative;
			float: left;
			margin-left: 15px;
			margin-top: 15px;
		}

		.tile.default
		{
			width: 150px;
			height: 150px;
		}

		.tile.double
		{
			width: 300px;
			height: 150px;
		}

		.tile.triple
		{
			width: 380px;
			height: 150px;
		}

		.tile-content
		{
			width: 100%;
            height: 100%;
			padding: 10px;
            position: absolute;
            top: 0;
            left: 0;
            display: none;
            overflow: hidden;
		}

        .tile.high
        {
            width: 150px;
            height: 300px;
        }

        .tile-content .image
        {
            padding-top: 20px;
            text-align: center;
        }

        .tile .label
        {
            position: absolute;
            left: 0px;
            bottom: 5px;
            font-size: 1em;
            font-weight: 300;
        }

        .tile .tile-content.label
        {
            position: absolute;
            left: 0px;
            bottom: -5px;
            font-size: 1em;
            font-weight: 300;
        }

        .tile p
        {
            font-weight: 300;
        }

        .tile-content-wrapper
        {
            position: absolute;
            height: 100%;
            width: 100%;
            display: none;
        }

        .ts-top-label
        {
            width: 100%;
            position: absolute;
            padding: 15px;
            padding-top: 20px;
        }

        .tile .tile-content-wrapper:nth-of-type(1)
        {
            display: block; 
        }

        .tile .tile-content:nth-of-type(1)
        {
            display: block; 
        }

        .tile-container a
        {
            color: white;
            white-space: nowrap;
        }

        .tile-column
        {
            position: relative;
            float: left;
            margin-right: 110px;
        }

        .tile-container
        {
            width: 100%;
            overflow: hidden;
        }


        .wrapper { width: 999999px; }

	</style>

    <div class="tile-container">
        <div class="wrapper">

            <div class="container-fluid tile-column" style="padding: 0px; margin-top: 20px;">
                <div class="row">

                    <a href="{{ path('calendarIndex') }}">
                        <div id="tile" class="tile double">
                            {{ render(controller('LaDanseSiteBundle:Calendar/Calendar:tilePartial')) }}
                            <div class="label"><i class="fa fa-calendar fa-2x"></i></div>
                        </div>
                    </a>

                    <a href="{{ path('viewClaims') }}">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                            </div>
                            <div class="label"><span>My Characters</span></div>
                        </div>
                    </a>

                </div>
                <!-- row -->

                <div class="row">

                    {% if auth.currentContext.authenticated %}
                    <a href="{{ path('teamSpeakIndex') }}">
                        {% else %}
                        <a href="{{ path('welcomeIndex') }}">
                            {% endif %}
                            <div id="teamspeakTile" class="tile default" data-delay="2000" data-direction="horizontal">
                                <div class="label"><i class="fa fa-headphones fa-2x"></i></div>
                            </div>
                        </a>

                    <a href="{{ path('forumUnderConstruction') }}">
                        <div class="tile double" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div style="padding: 15px;">
                                    <p style="font-size: 1.3em;">Coming Soon</p>

                                    <p>latest forum posts and hot topics</p>
                                </div>
                            </div>
                            <div class="tile-content">
                                <div style="padding: 15px;">
                                    <p style="font-size: 1.8em;">Stay tuned!</p>
                                </div>
                            </div>
                            <div class="label"><i class="fa fa-comments fa-2x"></i></div>
                        </div>
                    </a>

                </div>
                <!-- row -->

                <div class="row">

                    <a href="{{ path('galleryUnderConstruction') }}">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">
                                    <i class="fa fa-picture-o fa-5x"></i>
                                </div>
                            </div>
                            <div class="label"><span>Pictures</span></div>
                        </div>
                    </a>

                </div> <!-- row -->


            </div>
            <!-- container -->

            <div class="container-fluid tile-column" style="padding: 0px; margin-top: 20px;">
                <div class="row">

                    <a href="http://www.wowhead.com/">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">
                                    <img width="120" src="{{ asset('bundles/ladansesite/images/logo_wowhead.png') }}"></img>
                                </div>
                            </div>
                            <div class="label"><span>Wowhead</span></div>
                        </div>
                    </a>

                    <a href="http://www.icy-veins.com/">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">
                                    <img width="120" src="{{ asset('bundles/ladansesite/images/logo_icyveins.png') }}"></img>
                                </div>
                            </div>
                            <div class="label"><span>Icy Veins</span></div>
                        </div>
                    </a>

                </div>

                <div class="row">

                    <a href="http://wowpedia.org/">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">
                                    <img width="90" src="{{ asset('bundles/ladansesite/images/logo_wowpedia.png') }}"></img>
                                </div>
                            </div>
                            <div class="label"><span>Wowpedia</span></div>
                        </div>
                    </a>

                    <a href="http://wow.joystiq.com/">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">

                                </div>
                            </div>
                            <div class="label"><span>WoW Insider (news)</span></div>
                        </div>
                    </a>

                </div>
                <!-- row -->

                <div class="row">

                    <a href="http://eu.battle.net/wow/en/">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">

                                </div>
                            </div>
                            <div class="label"><span>WoW Battle.net</span></div>
                        </div>
                    </a>

                    <a href="http://eu.battle.net/wow/en/guild/defias-brotherhood/La_Danse_Macabre/">
                        <div class="tile default" data-direction="vertical" data-delay="8000">
                            <div class="tile-content">
                                <div class="image">

                                </div>
                            </div>
                            <div class="label"><span>La Danse @ Battle.net</span></div>
                        </div>
                    </a>

                </div>
                <!-- row -->

            </div>
            <!-- container -->

        </div>

    </div>

{% endblock %}

{% block javascript %}

<script>

$(document).ready(function()
{
    var clientsServiceURL = '../teamspeak/clients';

    $.when($.ajax({
        type: "GET",
        url: clientsServiceURL,
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    })).then(tsClientsSuccessFunc, tsClientsErrorFunc);
});

</script>

{% endblock %}
