{% extends 'LaDanseSiteBundle:layout:base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block body %}

<style>
	html, body
	{
		margin: 0;
		padding: 0;
	}

	#page-container
	{
		width: 100%;
		position: absolute;
		overflow: hidden;

        color: black;

	    background-color: black;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    background-position: top;
        background-size: cover;
        transition: background-image 2s ease-in-out;
        background-image: url("{{ asset('bundles/ladansesite/images/background.jpg') }}");
	}

	#right-login-container
	{
		float: right;
		z-index: 90;
		width: 30%;
        height: 100%;
		background-color: rgba(242, 242, 242, .80);
        overflow: hidden;
	}

	#text-container
	{
		padding-top: 10%;
		margin-left: 30px;	
	}

	#text-container p
	{
	}

	#ldm-intro-container
	{
		padding-top: 10%;
		margin-left: 30px;	
		margin-right: 30px;	
	}
</style>

<div id="page-container">

	<div id="right-login-container">
		<div id="ldm-intro-container">
			<h1>La Danse Macabre</h1>

			<p>Welcome to the website of La Danse Macabre, a gaming guild of fun people of all ages and interests. Join us in World of Warcraft, Star Wars The Old Republic or Wildstar.</p>

            {% image '@LaDanseSiteBundle/Resources/public/images/FB_FindUsOnFacebook-100.png' %}
                <p><a href="https://www.facebook.com/groups/23877201619/"><img src="{{ asset_url }}" /></a></p>
            {% endimage %}
		</div>
		<div id="text-container">
			<h2 style="font-weight: normal; text-shadow: none;">Sign In</h2>

			<p>La Danse Account</p>

            {% if error %}
                <div>Could not log you in with these credentials.</div>
            {% endif %}

            <form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">

                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <fieldset>
                    <div class="form-group">
                        <div class="col-lg-9">
                            <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9">
                            <input type="password" class="form-control" id="password" name="_password" required="required" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9">
                            <input type="checkbox" class="f" id="remember_me" name="_remember_me" value="on" />
                            <label for="remember_me" style="font-weight: normal; text-shadow: none;">{{ 'security.login.remember_me'|trans }}</label>
                        </div>
                    </div>

                    <button type="submit" id="_submit" name="_submit" class="btn btn-success">
                        {{ 'security.login.submit'|trans }}</button>
                </fieldset>
            </form>

            <br />
            <br />

			<p>Don't have a La Danse account? <a href="{{ path('registerProfile') }}">Sign up now</a></p>
		</div>
	</div>

</div>

{% endblock %}

{% block javascript %}

<script>

    var backgroundImages = [
    '{{ asset('bundles/ladansesite/images/background.jpg') }}',
    '{{ asset('bundles/ladansesite/images/background-3.jpg') }}',
    '{{ asset('bundles/ladansesite/images/background-4.jpg') }}'
    ];

    function doLoginWindowResize()
    {
        var viewportHeight;

        if (document.compatMode === 'BackCompat')
        {
            viewportHeight = document.body.clientHeight;
        }
        else
        {
            viewportHeight = document.documentElement.clientHeight;
        }

        console.log("viewportHeight " + viewportHeight);

        $('#page-container').height(viewportHeight);
        $('#right-login-container').height(viewportHeight);
    }

    function startBackgroundImageChanger()
    {
        var imageIndex = Math.floor((Math.random() * backgroundImages.length));

        setInterval(function()
        {
            $('#page-container').css("background-image", "url('" + backgroundImages[imageIndex] + "')");

            imageIndex++;

            if (imageIndex >= backgroundImages.length)
            {
                imageIndex = 0;
            }
        }, 5000);
    }

    var resizeTimer;
    $(window).resize(function()
    {
        clearTimeout(resizeTimer);
        resizeTimer = setTimeout(doLoginWindowResize, 100);
    });

    $(document).ready(function()
    {
        doLoginWindowResize();

        //startBackgroundImageChanger();
    });

</script>

{% endblock %}