{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}TeamSpeak - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('TeamSpeak') }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <div id="teamspeakContainer"></div>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <div class="well well-lg">
                    <p>
                        <span class="teamspeak-value">Server</span><br/>
                        <span class="text-danger">ts.ladanse.org</span>
                    </p>
                    <p>
                        <span class="teamspeak-value">Password</span><br/>
                        <span class="text-danger">m3llon</span>
                    </p>
                    <p>
                        <a href="http://www.teamspeak.com/?page=downloads" target="_blank">
                            <span style="font-size: 80%">(click here to download client)</span>
                        </a>
                        <br/>
                        <br/>
                        <a href="http://www.teamspeak.com/">
                            <img src="{{ asset('bundles/ladansesite/images/TeamSpeak2.png') }}" ></img>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}

{% verbatim %}

    <script id="teamspeak-users-template" type="text/template">

        <div id="Post_{{ post.postId }}" class="postContainer">
            <div>
                <span class="poster">{{ post.poster }}</span> <span class="message">{{ post.message }}</span>
            </div>
            <div>
                <span class="postDate">{{ post.postDate }}</span>
                {{#editable}}
                <span id="EditLink_{{ post.postId }}" class="postEditLink">Edit</span>
                {{/editable}}
            </div>
        </div>

    </script>

{% endverbatim %}

<script>

$(document).ready(function()
{
    var clientsServiceURL = 'clients';
    var channelsServiceURL = 'channels';

    $.when($.ajax({
        type: "GET",
        url: clientsServiceURL,
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    })).then(tsPageClientsSuccessFunc, tsPageClientsErrorFunc);


    $.when($.ajax({
        type: "GET",
        url: clientsServiceURL,
        data: param = "",
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    }), $.ajax({
        type: "GET",
        url: channelsServiceURL,
        data: param = "",
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    })).then(tsPageClientsSuccessFunc, tsPageClientsErrorFunc);
});

function tsPageClientsSuccessFunc(responseClients, responseChannels)
{
    var clientsList = responseClients[0];
    var channelsList = responseChannels[0];

    // creating html string
    var htmlString = "";

    if (clientsList.length === 0)
    {
        htmlString += '<div>There is nobody online right now</div>';
    }
    else
    {
        for (var i = 0; i < channelsList.length; i++) {

            var channel = channelsList[i];
            var channelId = channel.cid;

            var clientsLi = '';

            for (var j = 0; j < clientsList.length; j++) {

                var client = clientsList[j];

                if (client.cid === channelId) {
                    clientsLi += '<li>' + client.client_nickname + '</li>';
                }
            }

            if (clientsLi !== '')
            {
                htmlString += '<div class="channel-name">Channel - ' + channel.channel_name + '</div>';
                htmlString += '<div class="clients-list"><ul class="clients-list">' + clientsLi + '</ul></div>';
            }
        }
    }

    console.log(htmlString);

    //appending to the div
    $('#teamspeakContainer').html(htmlString);
}

function tsPageClientsErrorFunc(jqXHR, textStatus, errorThrown)
{
    console.log("Error fetching online TS people " + textStatus);
    console.log(errorThrown);

    var errorString = '';

    errorString += "<div>";
    errorString += "  <div class='ts-top-label'>";
    errorString += "     <p style='font-size: 0.85em; text-align: center;'>We are sorry but there was a problem fetching the list of online people</p>";
    errorString += "  </div>";
    errorString += "</div>";

    //appending to the div
    $('#teamspeakContainer').append($(errorString));
}

</script>

{% endblock %}

{% block stylesheet %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <style>

        .teamspeak-sidebar-container
        {
            width: 100%;
            background-color: rgb(65,100, 160);
            background-color: rgb(100, 60, 50);

            padding-top: 10px;
            padding-bottom: 10px;

            -moz-border-top-left-radius: 15px;
            border-top-left-radius: 15px;
            -moz-border-top-right-radius: 15px;
            border-top-right-radius: 15px;
            -moz-bottom-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            -moz-bottom-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .teamspeak-value
        {
            font-size: 170%;
        }

        .TeamSpeakNickname
        {
            font-size: 200%;
            list-style: none;
        }

        div.channel-name
        {
            font-size: 1.4em;
            font-weight: bold;
            padding: 10px 0 15px 0;
        }

        div.clients-list
        {

        }

        ul.clients-list
        {
            list-style-type: none;
        }

        ul.clients-list li
        {
            font-size: 1.2em;
            padding: 2px 0 1px 0;
        }

    </style>

{% endblock %}