{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}TeamSpeak - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('TeamSpeak') }}

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9">
                <p>Right now the following people are online:</p>
                <div id="teamspeakContainer"></div>
            </div>
            <div class="col-md-3" style="text-align: center;">
                <div class="well well-lg">
                    <p>
                        <span class="teamspeak-value">Server</span><br/>
                        <span class="text-danger">ts.ladanse.org</span>
                    </p>
                    <p>
                        <span class="teamspeak-value">Password</span><br/>
                        <span class="text-danger">m3llon</span>
                    </p>
                    <p>
                        <a href="http://www.teamspeak.com/?page=downloads" target="_blank">
                            <span style="font-size: 80%">(click here to download client)</span>
                        </a>
                        <br/>
                        <br/>
                        <a href="http://www.teamspeak.com/">
                            <img src="{{ asset('bundles/ladansesite/images/TeamSpeak2.png') }}" ></img>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascript %}

{% verbatim %}

    <script id="teamspeak-users-template" type="text/template">

        <div id="Post_{{ post.postId }}" class="postContainer">
            <div>
                <span class="poster">{{ post.poster }}</span> <span class="message">{{ post.message }}</span>
            </div>
            <div>
                <span class="postDate">{{ post.postDate }}</span>
                {{#editable}}
                <span id="EditLink_{{ post.postId }}" class="postEditLink">Edit</span>
                {{/editable}}
            </div>
        </div>

    </script>

{% endverbatim %}

<script>

$(document).ready(function()
{
    var clientsServiceURL = 'clients';

    $.when($.ajax({
        type: "GET",
        url: clientsServiceURL,
        contentType: "application/json; charset=utf-8",
        dataType: "json"
    })).then(tsPageClientsSuccessFunc, tsPageClientsErrorFunc);
});

function tsPageClientsSuccessFunc(data, textStatus, jqXHR)
{
    var clientsList = data;

    // creating html string
    var htmlString = "";

    if (clientsList.length === 0)
    {
        htmlString += "<div>";
        htmlString += "  <div class='ts-top-label'>";
        htmlString += "     <p style='font-size: 0.85em; text-align: center;'>There is nobody<br/> online now on TS</p>";
        htmlString += "  </div>";
        htmlString += "</div>";

        $('#teamspeakContainer').append($(htmlString));
    }
    else
    {
        htmlString = "";
        htmlString += "<ul class='TeamSpeakClientList'>";

        for (var j = 0; j < clientsList.length; j++)
        {
            var client = clientsList[j];

            htmlString += "     <li class='TeamSpeakNickname'>" + client.client_nickname + "</li> ";
        }

        htmlString += "</ul>";

        $('#teamspeakContainer').append($(htmlString));
    }
}

function tsPageClientsErrorFunc(jqXHR, textStatus, errorThrown)
{
    console.log("Error fetching online TS people " + textStatus);
    console.log(errorThrown);

    var errorString = '';

    errorString += "<div>";
    errorString += "  <div class='ts-top-label'>";
    errorString += "     <p style='font-size: 0.85em; text-align: center;'>We are sorry but there was a problem fetching the list of online people</p>";
    errorString += "  </div>";
    errorString += "</div>";

    //appending to the div
    $('#teamspeakContainer').append($(errorString));
}

</script>

{% endblock %}

{% block stylesheet %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <style>

        .teamspeak-sidebar-container
        {
            width: 100%;
            background-color: rgb(65,100, 160);
            background-color: rgb(100, 60, 50);

            padding-top: 10px;
            padding-bottom: 10px;

            -moz-border-top-left-radius: 15px;
            border-top-left-radius: 15px;
            -moz-border-top-right-radius: 15px;
            border-top-right-radius: 15px;
            -moz-bottom-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            -moz-bottom-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            border-bottom-left-radius: 15px;
        }

        .teamspeak-value
        {
            font-size: 170%;
        }

        .TeamSpeakNickname
        {
            font-size: 200%;
            list-style: none;
        }

    </style>

{% endblock %}