{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}Characters - La Danse Macabre{% endblock %}

{% block body %}

    <ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Characters</li>
    </ol>

    <h1>Characters</h1>

    <ul>
      <li><a href="#" data-toggle="modal" data-target="#addClaimModel">Add a claim</a></li>
      <li>Remove a claim</li>
      <li>Change roles</li>
    </ul>

    {{ render(controller('LaDanseSiteBundle:ManageClaims:viewClaimsPartial')) }}

<div class="modal" id="addClaimModel">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="{{ path('manageClaims') }}" method="post" {{ form_enctype(form) }}>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Claim Character</h4>
      </div>
      <div class="modal-body">
        {% include 'LaDanseSiteBundle::formErrorsPartial.html.twig' %}

        {{ form_widget(form) }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" value="Claim" class="btn btn-primary" />
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}