{% extends 'LaDanseSiteBundle:layout:layout.html.twig' %}

{% block title %}Characters - La Danse Macabre{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Characters</li>
    </ol>

    <h1>Characters</h1>

    {% if claimModel.claims|length == 0 %}
		<p>You haven't claimed any characters yet.</p>
	{% else %}
		<p>Below you can find the list of characters you currently have a claim over and what roles you could perform with them.</p>
		<table class="table table-hover" style="width: auto;">
        <tr>
            <th></th>
            <th class="center-td" style="width: 75px">Tank</th>
            <th class="center-td" style="width: 75px">Healer</th>
            <th class="center-td" style="width: 75px">Damage</th>
            <th style="width: 110px"><!-- edit link --></th>
        </tr>
        <tr>
    		<td colspan="5" class="center-td">
    			<a href="{{ path('createClaim') }}">Add a character</a>
    		</td>
    	</tr>
        {% for claim in claimModel.claims %}
            <tr class="claimRow">
                <td>{{ claim.name }}</td>
                <td class="center-td">
                    
                </td>
                <td class="center-td">
                    
                </td>
                <td class="center-td">
                    
                </td>
                <td>
                	<span class="claimEditRemoveLinks">
                    	<a href="{{ path('editClaim', {'claimId': claim.id}) }}">Edit</a>
                    	<a href="{{ path('removeClaim', {'claimId': claim.id}) }}">Remove</a>
                	</span>
                </td>
            </tr>
        {% endfor %}
    	</table>
	{% endif %}

{% endblock %}