{% extends 'LaDanseSiteBundle:layout:page.html.twig' %}

{% block title %}Characters - La Danse Macabre{% endblock %}

{% block javascript %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <script type="application/javascript">
        function removeClaim()
        {
            return confirm('This will remove your claim, are you sure?');
        }
    </script>

{% endblock %}

{% block body %}

	<ol class="breadcrumb">
        <li><a href="{{ path('welcomeIndex') }}">Home</a></li>
        <li class="active">Characters</li>
    </ol>

    <h1>Characters</h1>
    
	<p>Below you can find the list of characters you currently have a claim over and what roles you want to perform with them.</p>

	<table class="table table-hover" style="width: auto;">
    <tr>
        <th></th>
        <th class="center-td" style="width: 75px">Tank</th>
        <th class="center-td" style="width: 75px">Healer</th>
        <th class="center-td" style="width: 75px">Damage</th>
        <th style="width: 50px"><!-- edit link --></th>
    </tr>
    {% if claimModel.claims|length == 0 %}
        <tr>
            <td colspan="5">
                <i>You haven't claimed any characters yet.</i>
            </td>
        </tr>
    {% else %}
        {% for claim in claimModel.claims %}
            <tr class="claimRow">
                <td>{{ claim.name }}</td>
                <td class="center-td">
                    {% if claim.playsTank %}<i class="fa fa-times fa-1x text-success"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if claim.playsHealer %}<i class="fa fa-times fa-1x text-success"></i>{% endif %}
                </td>
                <td class="center-td">
                    {% if claim.playsDPS %}<i class="fa fa-times fa-1x text-success"></i>{% endif %}
                </td>
                <td>
                	<span class="claimEditRemoveLinks">
                    	<a href="{{ path('editClaim', {'claimId': claim.id}) }}">
                            <i class="fa fa-pencil fa-1x"></i>
                        </a>
                    	<a onClick="return removeClaim()" href="{{ path('removeClaim', {'claimId': claim.id}) }}">
                            <i class="fa fa-trash-o fa-1x"></i>
                        </a>
                	</span>
                </td>
            </tr>
        {% endfor %}
    {% endif %}
    <tr>
        <td colspan="5" class="center-td">
            <a href="{{ path('createClaim') }}">Add a character</a>
        </td>
    </tr>
	</table>

{% endblock %}