{% extends 'LaDanseSiteBundle:layout:page-centered.html.twig' %}

{% block title %}Guild Chat & Voice - La Danse Macabre{% endblock %}

{% block memberPageCenteredBody %}

    {{ renderHeader('Guild Chat & Voice') }}

    <div id="DiscordWidget">
        <iframe src="https://discordapp.com/widget?id=196163827824459776&theme=dark"
                width="300"
                height="500"
                allowtransparency="true"
                frameborder="0"></iframe>
    </div>

    <div class="MicrophoneGuideBlock">
        Having microphone issues? <a href="{{ path('microphoneIndex') }}">Check out this guide</a>!
    </div>

    <div class="staticText">
        The guild uses both Discord and the in-game voice chat. Below you can find guides to configure each of them.
    </div>

    <div class="buttonContainer">
        <a type="button" class="btn btn-primary guide-button"
           href="{{ path('discordGuideIndex') }}">Discord Guide</a>
        <a type="button" class="btn btn-success guide-button"
           href="{{ path('inGameGuideIndex') }}">In-game Voice Chat Guide</a>
    </div>

{% endblock %}

{% block javascript %}

    {# make sure that any content of the 'javascript' block in parent templates is rendered as well #}
    {{ parent() }}

    <script>

        $(function()
        {
            $(window).scroll(function()
            {
                var scrollTop = $(this).scrollTop();

                var topPosition = 85 - scrollTop;

                if (topPosition < 20)
                {
                    topPosition = 20;
                }

                $("#DiscordWidget").css('top', topPosition + 'px');
            });
        });

    </script>

{% endblock %}

{% block stylesheet %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <style>

        div.MicrophoneGuideBlock
        {
            margin-top: 30px;
            margin-bottom: 30px;
            font-size: 1.6em;
        }

        #DiscordWidget
        {
            position: fixed;
            top: 85px;
            right: 20px;
        }

        div.staticText
        {
            font-size: 1.1em;
            line-height: 1.8;
            width: 85%;
        }

        div.buttonContainer
        {
            margin-top: 50px;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
        }

        a.guide-button
        {
            font-size: 1.5em;
        }

    </style>

{% endblock %}