{% extends 'LaDanseSiteBundle:settings:layout.html.twig' %}

{% block settingsPanel %}

	<h1>Notifications</h1>

    <p>You don't want to miss out on a new event, do you? This site can notify you when things happen that might
       interest you. To avoid sending you more emails than you care for, you'll have to tell us what you are
       interested in and what not.</p>

    <p><i>Remember: we won't send you any emails unless you allow us to (or when we really have to)!</i></p>

    {% include 'LaDanseSiteBundle:common:formErrorsPartial.html.twig' %}

    {{ form_start(form) }}

    <h4 class="notificationSection">Events</h4>

    {{ form_widget(form.newEvents,
        { 'label': 'Notify me when a new event is created on the calendar' })
    }}

    {{ form_widget(form.changeSignedEvent,
        { 'label': 'Notify me when an event I signed up for is changed' })
    }}

    {{ form_widget(form.eventToday,
    { 'label': 'Remind me on the day of an event I signed up for' })
    }}

    <h4 class="notificationSection">Event Organiser</h4>

    <p>The following notifications are only relevant for organisers of events.</p>

    {{ form_widget(form.signUpChange,
    { 'label': 'Notify me when someone signs up or changes their sign up' })
    }}

    <h4 class="notificationSection">Forums</h4>

    {{ form_widget(form.topicCreated,
    { 'label': 'Notify me when a new topic is created in a forum' })
    }}

    {{ form_widget(form.replyToTopic,
    { 'label': 'Notify me for a reply in a topic I replied to before' })
    }}

    {{ form_widget(form.allForumPosts,
    { 'label': 'Notify me for any reply made in any topic, this overrides the previous setting' })
    }}

    <br/><br/>

    {{ form_row(form.change, { 'label': 'Update' }) }}

    {{ form_end(form) }}

{% endblock %}

{% block stylesheet %}

    {# make sure that any other content of this tag is rendered as well #}
    {{ parent() }}

    <style>
        #settingsNotificationsLink
        {
            background-color: #99b433;
        }

        .notificationSection
        {
            margin-top: 25px;
        }
    </style>

{% endblock %}
